<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestDownload.aspx.cs" Inherits="Forte.HCM.UI.PrntControls.TestDowload" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title></title>    
    <link href="http://localhost/HCM/App_Themes/DefaultTheme/DefaultStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
             <table border="0" cellspacing="0" cellpadding="0" width="100%" style="text-align:center">
        <tr>
            <td align="center">
            <asp:GridView ID="grdView1" runat="server" AutoGenerateColumns="false">
                <Columns>
                    <asp:TemplateField HeaderText="">
                        <ItemTemplate>
                            <asp:Label ID="Label1" runat="server" Text='<%# Eval("Temp") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                </Columns>
            </asp:GridView>
            <br />
             <asp:Label ID="lable2" runat="server"></asp:Label>
           <br />
           <asp:LinkButton ID="TestDownload" Text="PDF Download" Font-Bold="true" OnClick="TestDownload_Click" runat="server"></asp:LinkButton>
          </td>
          
        </tr>
        
    </table>
    </div>
    </form>
</body>
</html>

