﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CertificateImageGenerator.aspx.cs"
    Inherits="Forte.HCM.UI.CandidateCenter.CertificateImageGenerator" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table>
            <tr>
                <td>
                    <div id="CertificateImageGenerator1" runat="server" style="height: 300px; width: 595px;
                        overflow: auto;">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
