﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ResourceProfileControl.ascx.cs" Inherits="Forte.HCM.UI.HomePageControls.ResourceProfileControl" %>
<table style="width: 100%" border="1">
    <tr>
        <td style="width: 30%">
            Logo
        </td>
        <td rowspan="2" style="width: 70%">
            Types
        </td>
    </tr>
    <tr>
        <td>
            Description
        </td>
    </tr>
</table>