﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPages/HomeMaster.Master"
CodeBehind="Blog.aspx.cs" Inherits="Forte.HCM.UI.General.Blog" %>
<%@ MasterType VirtualPath="~/MasterPages/HomeMaster.Master" %>

<asp:Content ID="Blog_bodyContent" ContentPlaceHolderID="HomeMaster_body" runat="server">
</asp:Content>