﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPages/HomeMaster.Master"
CodeBehind="ContactSales.aspx.cs" Inherits="Forte.HCM.UI.General.ContactSales" %>

<%@ MasterType VirtualPath="~/MasterPages/HomeMaster.Master" %>
<asp:Content ID="ContactSales_bodyContent" ContentPlaceHolderID="HomeMaster_body" runat="server">
</asp:Content>
