﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPages/HomeMaster.Master"
CodeBehind="Jobs.aspx.cs" Inherits="Forte.HCM.UI.General.Jobs" %>
<%@ MasterType VirtualPath="~/MasterPages/HomeMaster.Master" %>

<asp:Content ID="Jobs_bodyContent" ContentPlaceHolderID="HomeMaster_body" runat="server">
</asp:Content>