﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPages/HomeMaster.Master"
CodeBehind="Partners.aspx.cs" Inherits="Forte.HCM.UI.General.Partners" %>
<%@ MasterType VirtualPath="~/MasterPages/HomeMaster.Master" %>

<asp:Content ID="Partners_bodyContent" ContentPlaceHolderID="HomeMaster_body" runat="server">
</asp:Content>
