﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPages/HomeMaster.Master"
CodeBehind="QuickTour.aspx.cs" Inherits="Forte.HCM.UI.General.QuickTour" %>

<%@ MasterType VirtualPath="~/MasterPages/HomeMaster.Master" %>
<asp:Content ID="QuickTour_bodyContent" ContentPlaceHolderID="HomeMaster_body" runat="server">
</asp:Content>