﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPages/HomeMaster.Master"
CodeBehind="Terms.aspx.cs" Inherits="Forte.HCM.UI.General.Terms" %>

<%@ MasterType VirtualPath="~/MasterPages/HomeMaster.Master" %>
<asp:Content ID="Terms_bodyContent" ContentPlaceHolderID="HomeMaster_body" runat="server">
</asp:Content>