﻿BODY, html
{
    font-family: Arial,sans-serif;
    font-size: 11px !important;
}
.topHeader
{
    height: 30px;
    width: 82px;
    vertical-align: middle;
    background-color: #DAE6EB;
    font-size: 11px !important;
}
.topAlternateHeader
{
    height: 30px;
    width: 82px;
    vertical-align: middle;
    background-color: #BDC9CE;
}
.leftHeader
{
    background-color: #A3C0C8;
    font-size: 11px !important;
    width: 100px;
}
.leftAlternateHeader
{
    background-color: #BCD2DC;
    font-size: 11px !important;
    width: 100px;
}
.skillsLeftHeader
{
    background-color: #DAE6EB;
    font-size: 11px !important;
}
.skillsLeftAlternateHeader
{
    background-color: #BDC9CE;
    font-size: 11px !important;
}
.vectorNormalColor
{
    background-color: #BEE562;
    font-size: 11px !important;
}
.vectorAlternateColor
{
    background-color: #77CDE9;
    font-size: 11px !important;
}
