﻿BODY, html
{
    background-position: 100% top;
    margin: auto;
    font-family: calibri,sans-serif;
    font-size: 11px;
    color: #000000;
    height: 100%;
    width: 100%;
}

.popupControl
{
    background-color: #e9edf0;
    border: outset 1px #d8d8d8;
    border-width: thin;
    position: absolute;
    visibility: hidden;
    overflow: auto;
    height: 100px;
    width: 380px;
}

.popupControl_positionProfile
{
    background-color: #e9edf0;
    border: outset 1px #d8d8d8;
    border-width: thin;
    position: absolute;
    visibility: hidden;
    overflow: auto;
    height: 70px;
    width: 250px;
}

.popupControl_module
{
    background-color: #e9edf0;
    border: outset 1px #d8d8d8;
    border-width: thin;
    position: absolute;
    visibility: hidden;
    overflow: auto;
    height: 170px;
    width: 330px;
}

.popupControl_role
{
    background-color: #e9edf0;
    border: outset 1px #d8d8d8;
    border-width: thin;
    position: absolute;
    visibility: hidden;
    overflow: auto;
    height: 170px;
    width: 295px;
}

.popupControl_user
{
    background-color: #e9edf0;
    border: outset 1px #d8d8d8;
    border-width: thin;
    position: absolute;
    visibility: hidden;
    overflow: auto;
    height: 180px;
    width: 199px;
}

.autocomplete_completionListElement
{
    width: 300px !important;
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    overflow: auto;
    height: 80px;
    text-align: left;
}
.autocomplete_client_completionListElement
{
    width: 200px !important;
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    overflow: auto;
    height: 35px;
    text-align: left;
}


form
{
    height: 100%;
}
#HCMHome_div
{
    height: 100%;
    position: relative;
}
#HCMMaster_div
{
    height: 100%;
}
#HCMLogin_div
{
    height: 100%;
}
#HCMCandidateMaster_div
{
    height: 100%;
}

.table_bg
{
    background-color: #FFFFFF;
    margin: auto;
}

.showCursor
{
    cursor: pointer;
}

.menustrip_normal
{
    background-image: url(images/menustrip_darkgrey.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 100%;
    cursor: pointer;
}

.menutext_normal
{
    font-size: 12px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    text-align: center;
    width: 150px;
}

.menutext_menu_item_normal
{
    font-size: 12px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none !important;
    width: 150px;
}

.menutext_active
{
    font-size: 12px !important;
    font-weight: bold !important;
    color: #384349 !important;
    text-align: center;
}

.menustrip_active
{
    font-size: 12px !important;
    font-weight: bold !important;
    color: #384349 !important;
    text-align: center;
    background-image: url(images/menustrip_lightgrey.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 150px;
}

.menustrip_menu_item_active
{
    font-size: 12px !important;
    font-weight: bold !important;
    color: #384349 !important;
    text-align: center;
    text-decoration: none !important;
    height: 27px;
    width: 150px;
}

.menustrip_sublink_text
{
    font-size: 12px !important;
    color: #384349 !important;
}
.menustrip_sublink_text a
{
    font-size: 12px !important;
    color: #384349 !important;
    text-decoration: none;
}

.menustrip_sublink_text a:hover
{
    font-size: 12px !important;
    color: #FF5700 !important;
    text-decoration: none;
}

.menustrip_sublink_active_text
{
    font-size: 12px !important;
    font-weight: bold !important;
    color: #FF5700 !important;
}
.menustrip_sublink_active_text a
{
    font-size: 12px !important;
    color: #FF5700 !important;
    text-decoration: none;
}

.menustrip_sublink_active_text a:hover
{
    font-size: 12px !important;
    color: #FF5700 !important;
    text-decoration: none;
}

.menustrip_bullet
{
    background-image: url(images/menustrip_bullet.gif);
    background-repeat: no-repeat;
    height: 25px;
    width: 1px;
}

.header_bg
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 100%;
    border: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px !important;
    color: #33424B !important;
    font-weight: bold !important;
    text-align: left;
    background-position: bottom;
    background-color: #ffffff;
}


.header_bg_testsession
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 100%;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px !important;
    color: #33424B !important;
    font-weight: bold !important;
    text-align: left;
}

.header_bg_selectAll
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 100%;
    border: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    color: #33424B !important;
    text-align: left;
    background-position: bottom;
    background-color: #ffffff;
}

.header_text_bold
{
    font-size: 12px !important;
    color: #33424B !important;
    font-weight: bold !important;
}

.header_text
{
    font-size: 12px !important;
    color: #33424B !important;
}

.signin_text
{
    font-size: 11px !important;
    color: #FFFFFF !important;
}

.username_text
{
    font-size: 11px !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
}

.date_time_text
{
    font-size: 11px !important;
    color: #FFFFFF !important;
}

.label_text
{
    font-size: 11px !important;
    color: #33424B !important;
    font-weight: normal !important;
    white-space: nowrap !important;
}

.can_label_text
{
    font-size: 14px !important;
    color: #33424B !important;
    font-weight: normal !important;
    white-space: nowrap !important;
}


.label_field_text
{
    font-size: 14px !important;
    color: #148EC0 !important;
    font-weight: normal !important;
}

.label_field_text_div
{
    font-size: 12px !important;
    color: #148EC0 !important;
    font-weight: normal !important;
}

.label_field_text_score_div
{
    font-size: 32px !important;
    color: #148EC0 !important;
    font-weight: normal !important;
}

.label_field_header_text_score
{
    font-size: 32px !important;
    color: #283033 !important;
    font-weight: bold !important;
    font-family: Arial,sans-serif !important;
    white-space: nowrap;
}

.label_field_caption_text
{
    font-size: 11px !important;
    color: #484D50 !important;
}

.test_completion_status_border
{
    border: 1px solid #D8D8D8;
}

.label_test_completion_title
{
    font-size: 22px !important;
    color: #FF5700 !important;
    font-weight: bolder !important;
}

.label_test_completion
{
    font-size: 22px !important;
    color: #148EC0 !important;
    font-weight: bold !important;
}

.label_welcome_title
{
    font-size: 15px !important;
    color: #FF5700 !important;
    font-weight: bold !important;
}

.label_welcome_message
{
    font-size: 13px !important;
    color: #148EC0 !important;
    font-weight: normal !important;
}

.label_unhandled_exception
{
    font-size: 16px !important;
    color: #ff0000 !important;
    font-weight: normal !important;
}

.label_field_text_div_tag
{
    font-size: 11px !important;
    color: #148EC0 !important;
    font-weight: normal !important;
}

.label_multi_field_text
{
    font-size: 11px !important;
    color: #33424B !important;
    font-weight: normal !important;
    padding: 2px;
    border: 0px solid #33424B;
    overflow: auto;
    background-color: Transparent;
}

.label_field_header_text
{
    font-size: 11px !important;
    color: #283033 !important;
    font-weight: bold !important;
    font-family: Arial,sans-serif !important;
    white-space: nowrap;
}

.label_field_header_text_bold_widget
{
    font-size: 11px !important;
    color: #0193cf !important;
    font-weight: bold !important;
    font-family: Arial,sans-serif !important;
    padding: 5px;
}

.text_box
{
    width: 150px;
    font-size: 12px;
    color: #4B4B4B;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #b3c3d3 !important;
    background-image: url(Images/form_texbox_bg.jpg);
    background-repeat: repeat-x;
    height: 17px;
}

.default_text_box
{
    font-size: 12px;
    color: #4B4B4B;
    border: 1px solid #b3c3d3 !important;
}

.mandatory_text_box
{
    font-family: Arial, 'sans-serif !important';
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #FF0000;
    background-color: #FFFFFF;
    padding-left: 3px;
}

.help_button
{
    font-size: 11px !important;
    color: #148EC0 !important;
    text-align: left;
    background-image: url(images/help_icon.gif);
    background-repeat: no-repeat;
    height: 23px;
    width: 20px;
    cursor: hand;
    padding-left: 25px;
    font-weight: bold !important;
    text-decoration: None;
}

.help_button a
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: None;
}

.help_button:hover
{
    font-size: 11px !important;
    color: #000000 !important;
    text-decoration: Underline;
}

.main_button
{
    font-size: 11px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: center;
    background-image: url(images/button_bg.gif);
    background-repeat: repeat-x;
    height: 18px;
    border: 0px solid #E35409;
    cursor: pointer;
    background-color: #E35409;
    padding-bottom: 0px;
}

.main_button_orange
{
    font-size: 11px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: center;
    background-image: url(images/orange_btn.png);
    background-repeat: repeat-x;
    height: 18px;
    border: 0px solid #E35409;
    cursor: pointer;
    background-color: #E35409;
    padding-bottom: 0px;
}

.main_button_blue
{
    font-size: 11px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: center;
    background-image: url(images/blue_btn.png);
    background-repeat: repeat-x;
    height: 18px;
    border: 0px solid #E35409;
    cursor: pointer;
    background-color: #E35409;
    padding-bottom: 0px;
}

.link_button_cancel
{
    font-size: 11px !important;
    color: #fff !important;
    text-decoration: None !important;
}

.link_button_cancel a
{
    font-size: 11px !important;
    color: #fff !important;
    text-decoration: None !important;
}

.link_button_cancel a:hover
{
    font-size: 11px !important;
    color: #fff !important;
    text-decoration: Underline !important;
}

.link_button
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
}

.link_button a
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
}

.link_button:hover
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: Underline !important;
    white-space: nowrap;
}

.grid_header_bg
{
    background-image: url(images/grid_header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 100%;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 5px;
}

.grid_body_bg
{
    background-color: #FFFFFF;
    width: 100%;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tab_body_bg
{
    background-color: #FFFFFF;
    width: 100%;
    border: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 2px;
}

.non_tab_body_bg
{
    background-color: #FFFFFF;
    width: 100%;
    border: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.panel_inner_body_bg
{
    background-color: #FFFFFF;
    width: 100%;
    border: 1px solid #D8D8D8;
    padding: 5px;
}

.grid_normal_row td
{
    font-size: 11px !important;
    color: #33424B !important;
    background-color: #F9FBFC;
    border-bottom: 1px solid #E7EDEF !important;
    height: 25px;
    text-align: left;
    padding-left: 5px;
    text-decoration: None;
}

.grid_normal_row td a
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: None;
}

.grid_normal_row td a:hover
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: Underline !important;
}

/* begin Test Performer Gridview style*/
.grid_row td
{
    font-size: 14px !important;
    color: Green !important;       
    height: 25px;
    text-align: left;
    padding-left: 5px;
    text-decoration: None;
     font-family: Digital Readout ExpUpright !important;
     margin:3px;
}

.grid_row td a
{
    font-size: 14px !important;
    color: Green !important;
    text-decoration: none !important;
}
.grid_row td a:hover
{
    font-size: 14px !important;
    color: Green !important;
    text-decoration: Underline !important;
}


/* End */

.grid_alternate_row td
{
    font-size: 12px !important;
    color: #33424B !important;
    background-color: #fff;
    border-bottom: 1px solid #E7EDEF !important;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 25px;
    text-align: left;
    padding-left: 5px;
    text-decoration: None;
}

.grid_alternate_row td a
{
    font-size: 12px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
}
.grid_alternate_row td a:hover
{
    font-size: 12px !important;
    color: #267BB1 !important;
    text-decoration: Underline !important;
}

.grid_alternate_row th
{
    font-size: 12px !important;
    font-weight: normal;
}

.grid_alternate_row th a
{
    font-size: 12px !important;
    font-weight: normal;
}

.grid_alternate_row th a:hover
{
    font-size: 12px !important;
    font-weight: normal;
}

.grid_normal_row th
{
    font-size: 11px !important;
    font-weight: normal;
}

.grid_normal_row th a
{
    font-size: 12px !important;
    font-weight: normal;
}

.grid_normal_row th a:hover
{
    font-size: 12px !important;
    font-weight: normal;
}

.grid_header_row
{
    background-color: #ffffff;
    font-size: 12px !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    color: #277FA4 !important;
    border-bottom: 1px solid #D1D8DA !important;
    text-align: left !important;
    padding-left: 5px;
    height: 26px;
}

.grid_header_row a
{
    font-size: 12px !important;
    color: #277FA4 !important;
    font-weight: bold !important;
}

.grid_header_row a:hover
{
    font-size: 12px !important;
    color: #277FA4 !important;
    text-decoration: Underline !important;
}

.grid_header_row th
{
    text-align: left;
}

.grid_header_row th a
{
    text-align: left;
    text-decoration: None !important;
}

.grid_header_row th a:hover
{
    text-align: left;
    text-decoration: Underline !important;
}

.grid_normal_row_new
{
    font-size: 12px !important;
    color: #33424B !important;
    background-color: #F4F6F7;
    text-align: left;
    padding: 20px !important;
}

.grid_normal_row_new a
{
    font-size: 12px !important;
    color: #33424B !important;
    text-decoration: None;
}

.grid_normal_row_new td a
{
    font-size: 12px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
}

.grid_alternate_row_new
{
    font-size: 12px !important;
    color: #33424B !important;
    background-color: #FAFCFD;
    text-align: left;
    padding: 20px !important;
}

.grid_alternate_row_new a
{
    font-size: 12px !important;
    color: #33424B !important;
    text-decoration: None;
}

.grid_alternate_row_new td a
{
    font-size: 12px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
}

.grid_header_row_new
{
    background-color: #ffffff;
    font-size: 12px !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    color: #277FA4 !important;
    border-bottom: 1px solid #D1D8DA !important;
    text-align: left !important;
    padding-left: 5px;
    height: 26px;
}

.grid_header_row_new a
{
    font-size: 12px !important;
    color: #277FA4 !important;
    font-weight: bold !important;
}

.grid_header_row_new th
{
    text-align: left;
}

.grid_header_row_new th a
{
    text-align: left;
    text-decoration: none !important;
}

.grid_header_row_new th a:hover
{
    text-align: left;
    text-decoration: underline !important;
}

.grid_header_row_wrap th
{
    background-color: #ffffff;
    font-size: 11px !important;
    font-weight: bold !important;
    white-space: pre-line !important;
    color: #277FA4 !important;
    border-bottom: 1px solid #D1D8DA !important;
    text-align: left !important;
    padding-left: 5px;
    height: 26px;
}

.grid_header_row_wrap a
{
    font-size: 11px !important;
    color: #277FA4 !important;
    font-weight: bold !important;
}

.grid_header_row_wrap th
{
    text-align: left;
}

.grid_header_row_wrap th a
{
    text-align: left;
    text-decoration: None !important;
}

.grid_header_row_wrap th a:hover
{
    text-align: left;
    text-decoration: Underline !important;
}

.grid_header_row_wrap_pp th
{
    background-color: #ffffff;
    font-size: 11px !important;
    font-weight: bold !important;
    white-space: pre-line !important;
    color: #277FA4 !important;
    border-bottom: 1px solid #D1D8DA !important;
    border-top: 1px solid #D1D8DA !important;
    text-align: left !important;
    padding-left: 5px;
    padding-bottom: 5px;
}

.grid_header_row_wrap_pp a
{
    font-size: 11px !important;
    color: #277FA4 !important;
    font-weight: bold !important;
}

.grid_header_row_wrap_pp th
{
    text-align: left;
}

.grid_header_row_wrap_pp th a
{
    text-align: left;
    text-decoration: None !important;
}

.grid_header_row_wrap_pp th a:hover
{
    text-align: left;
    text-decoration: Underline !important;
}

.grid_body_form_bg
{
    background-color: #FFFFFF;
    width: 100%;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid_header_row_no_wrap th
{
    background-color: #6b7999;
    font-size: 12px !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    color: #fff !important;
    border-bottom: 1px solid #D1D8DA !important;
    text-align: left !important;
    padding-left: 5px;
    height: 26px;
}

.grid_header_row_no_wrap a
{
    font-size: 12px !important;
    color: #277FA4 !important;
    font-weight: bold !important;
}

.grid_header_row_no_wrap th
{
    text-align: left;
}

.grid_header_row_no_wrap th a
{
    text-align: left;
    text-decoration: None !important;
}

.grid_header_row_no_wrap th a:hover
{
    text-align: left;
    text-decoration: Underline !important;
}

.panel_bg
{
    background-color: #E9EDF0;
    width: 100%;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    padding: 5px;
}

.panel_body_bg
{
    background-image: url(images/panel_body_bg.gif);
    background-repeat: repeat-x;
    height: 119px;
    width: 100%;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding-left: 5px;
    padding-right: 5px;
    background-position: bottom;
    background-color: #FFFFFF;
}

.td_pading_logo_10
{
    padding: 10px;
}

.tr_padding_5
{
    padding: 5px;
}

.footer_bg
{
    background-image: url(images/footer_bg.gif);
    background-repeat: repeat-x;
    height: 81px;
    width: 1002px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer_text
{
    font-size: 11px !important;
    color: #677275 !important;
    padding-left: 3px;
    padding-right: 3px;
}

.footer_text a
{
    font-size: 11px !important;
    color: #677275 !important;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}

.footer_text a:hover
{
    font-size: 11px !important;
    color: #000000 !important;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}

.td_height_8
{
    height: 8px;
}

.td_border_orange_color
{
    border-style: solid;
    border-color: #FF9933;
    height: 8px;
}

.literal_text_wrap
{
    width: 350px;
    word-wrap: break-word;
}

.td_height_2
{
    height: 2px;
}

.td_height_5
{
    height: 5px;
}

.td_height_10
{
    height: 10px;
}

.td_height_20
{
    height: 20px;
}

.td_padding_10
{
    padding: 10px;
}

.td_padding_top_2
{
    padding-top: 2px;
}

.td_padding_top_5
{
    padding-top: 5px;
}

.td_padding_bottom_5
{
    padding-bottom: 5px;
}

.td_padding_left_20
{
    padding-left: 20px;
}

.td_padding_right_15
{
    padding-right: 15px;
}

.td_padding_right_20
{
    padding-right: 44px;
}

.msg_align
{
    text-align: center;
}

.success_message_text
{
    font-size: 11px !important;
    font-weight: bold !important;
    color: #369105 !important;
    text-align: center;
}

.error_message_text
{
    font-size: 11px !important;
    font-weight: bold !important;
    color: #ff0000 !important;
    text-align: center;
    white-space: nowrap;
}

.checkbox_list_bg
{
    background-color: #FFFFFF;
    width: 100%;
    border: 1px solid #D8D8D8;
}

.check_box_text
{
    font-size: 10px;
    font-weight: normal;
    color: #666666;
    background-color: Transparent;
}

.radio_button_text
{
    font-size: 10px !important;
    font-weight: normal;
    color: #148EC0 !important;
    background-color: Transparent;
}

.dropdown
{
    font-family: Arial,sans-serif !important;
    font-size: 10px !important;
    color: #33424B !important;
    border: 1px solid #D8D8D8;
    background-color: #FFFFFF;
    height: 20px;
    vertical-align: middle;
}

.mandatory_dropdown
{
    font-family: Arial, 'sans-serif !important';
    font-size: 10px !important;
    color: #33424B !important;
    border: 1px solid #FF0000;
    background-color: #FFFFFF;
    height: 20px;
    vertical-align: middle;
}

.subject_dropdown
{
    font-family: Arial,sans-serif !important;
    font-size: 10px !important;
    color: #33424B !important;
    border: 1px solid #D8D8D8;
    background-color: #FFFFFF;
    height: 20px;
    width: 100%;
    vertical-align: middle;
}

#navigate_text
{
    font-size: 11px !important;
    color: #277FA4 !important;
    text-decoration: none;
}

#navigate_text a
{
    font-size: 11px !important;
    color: #277FA4 !important;
    text-decoration: underline;
}

#navigate_text a:hover
{
    font-size: 11px !important;
    color: #277FA4 !important;
    text-decoration: none;
}

.popupcontrol_confirm_disclaimer
{
    height: 250px;
    width: 520px;
    background-position: bottom;
    background-color: #283033;
}

.dictionary_entry_delete_confirm
{
    height: 150px;
    width: 36%;
    background-position: bottom;
    background-color: #283033;
}

.popup_label_text
{
    font-size: 11px !important;
    color: #fff !important;
}

.popup_label_field_text
{
    font-size: 11px !important;
    color: #148EC0 !important;
    font-weight: bold !important;
}

.popup_header_text_grey
{
    font-size: 12px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: left;
}

.popup_header_text
{
    font-size: 12px !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

.popup_header_bg
{
    background-image: url(images/grid_header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 5px;
}

.popup_body_bg
{
    width: 100%;
    background-position: center;
    background-color: #283033 !important;
}

/*Modal Popup*/
.modalBackground
{
    background-color: #000000;
    filter: alpha(opacity=60);
    opacity: 0.7;
}

.popupcontrol_add_node
{
    height: 350px;
    width: 50%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_confirm
{
    height: 170px;
    width: 30%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_confirm_remove
{
    height: 220px;
    width: 30%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_confirm_delete
{
    height: 250px;
    width: 40%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_confirm_next
{
    height: 240px;
    width: 35%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_question_draft
{
    width: 60%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_question_bg
{
    background-color: #455156;
    height: 27px;
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
}

.popupcontrol_edit_dictionary_entry
{
    height: 170px;
    width: 70%;
    background-position: bottom;
    background-color: #283033;
}
.popupcontrol_edit_node_entry
{
    height: 230px;
    width: 70%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_edit_dictionary_entry_inner_bg
{
    background-image: url(images/popup_panel_bg.gif);
    width: 100%;
    padding: 6px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    text-align: left;
}

.popupcontrol_question_inner_bg
{
    background-image: url(images/popup_panel_bg.gif);
    width: 100%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    text-align: left;
}

.popupcontrol_addImage_inner_bg
{
    background-image: url(images/popup_panel_bg.gif);
    width: 100%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    text-align: left;
    height: 120px;
    padding: 10px;
}

.popupcontrolrolecategory_question_inner_bg
{
    background-image: url(images/popup_panel_bg.gif);
    width: 50%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    text-align: left;
}

.popupcontrol_upgrade_account_inner_bg
{
    background-image: url(images/popup_panel_bg.gif);
    width: 60%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    text-align: left;
}

.popupcontrol_scheduler
{
    height: 240px;
    width: 70%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_role
{
    height: 290px;
    width: 81%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_addSubModule
{
    height: 240px;
    width: 70%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_roleCategory
{
    height: 200px;
    width: 65%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_addfeature
{
    height: 240px;
    width: 65%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_credit_request
{
    height: 340px;
    width: 50%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_available_backgrounds
{
    height: 300px;
    width: 50%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_preview_certificate
{
    height: 500px;
    width: 550px;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_credit_request_extended
{
    height: 460px;
    width: 50%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_credit_remarks
{
    height: 250px;
    width: 50%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_test_session
{
    height: 275px;
    width: 60%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_candidate_search_test_session
{
    height: 300px;
    width: 62%;
    background-position: bottom;
    background-color: #283033;
}

.popupcontrol_subscription_type_bg
{
    background-image: url(images/popup_panel_bg.gif);
    width: 100%;
    height: 130px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    text-align: left;
}

.small_popup_control
{
    height: 180px;
    width: 70%;
    background-position: bottom;
    background-color: #283033;
}

.popup_grid_alternate_row
{
    font-size: 11px !important;
    color: #33424B !important;
    border-bottom: 1px solid #DCE4E6 !important;
    height: 25px;
    text-align: left;
    padding-left: 5px;
}

.popup_grid_alternate_row a
{
    font-size: 11px !important;
    color: #33424B !important;
    text-decoration: None;
}



.popup_grid_header_row td
{
    font-size: 11px !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    color: #277FA4 !important;
    border-bottom: 1px solid #DCE4E6;
    text-align: left !important;
    padding-left: 5px;
    height: 26px;
}

.popup_grid_header_row td a
{
    font-size: 11px !important;
    color: #277FA4 !important;
    font-weight: bold !important;
}

.popup_grid_header_row th
{
    text-align: left;
}

.popup_grid_header_row th a
{
    text-align: left;
    text-decoration: none !important;
}

.popup_grid_header_row th a:hover
{
    text-align: left;
    text-decoration: underline !important;
}

.popup_td_padding_5
{
    padding: 5px;
}

.popup_td_padding_10
{
    padding: 10px !important;
}

.popup_td_padding_left_8
{
    padding-left: 8px;
}

.popup_td_padding_right_10
{
    padding-right: 10px;
}

.td_padding_right_20
{
    padding-right: 20px;
}

/* Tab */
.tabs .ajax__tab_header
{
    font-size: 12px !important;
    font-weight: bold !important;
    border-bottom: solid 1px #CCCCCC;
}

.tabs .ajax__tab_header .ajax__tab_outer
{
    background: url(images/sprite.png) #ffffff repeat-x;
    margin: 0px 0.16em 0px 0px;
    padding: 1px 0px 1px 0px;
    vertical-align: bottom;
    border: solid 1px #CCCCCC;
    border-bottom-width: 0px;
    cursor: pointer;
}

.tabs .ajax__tab_header .ajax__tab_tab
{
    color: #000 !important;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.tabs .ajax__tab_hover .ajax__tab_tab
{
    color: #000 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.tabs .ajax__tab_hover .ajax__tab_outer
{
    background: url(images/sprite.png) #F7F4EC repeat-x left -1300px;
}

.tabs .ajax__tab_active .ajax__tab_tab
{
    color: #FB5A00 !important;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle !important;
}

.tabs .ajax__tab_active .ajax__tab_outer
{
    background: url(images/sprite.png) #717577 repeat-x left -1400px;
}

.tabs .ajax__tab_body
{
    font-size: 11px !important;
    padding: 0.25em 0.5em;
    background-color: #ffffff;
    border: solid 1px #CCCCCC;
    border-top-width: 0px;
}

/* Hover Panel */
.table_outline_bg
{
    border-top: 10px solid #283033;
    border-left: 10px solid #283033;
    border-right: 10px solid #283033;
    border-bottom: 10px solid #283033;
    background-image: url(images/popup_panel_bg.gif);
    padding: 5px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    height: 135px;
}

.Test_performer_table_outline_bg
{
    border-top: 10px solid #283033;
    border-left: 10px solid #283033;
    border-right: 10px solid #283033;
    border-bottom: 10px solid #283033;
    background-image: url(images/popup_panel_bg.gif);
    padding: 5px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    height: auto;
}

/*Test Preview */
.table_outline_bg_preview
{
    background-image: url(images/popup_panel_bg.gif);
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
}


/*Hover Menu*/
.popup_question_icon
{
    background-image: url(images/question_icon_popup.gif);
    background-repeat: no-repeat;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    padding-left: 30px !important;
    background-position: left top;
    text-align: left;
    height: 30px !important;
    word-wrap: break-word;
    font-size:16px;
}
.popupMenu
{
    position: absolute;
    visibility: hidden;
    filter: alpha(opacity=100);
}

.popupHover
{
    background-image: url(images/header-opened.png);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #C0C8CB;
}
 

.mandatory
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px !important;
    font-weight: normal;
    color: #FF0000 !important;
    text-align: left;
}

.link_button_add
{
    background-image: url(images/add_button.gif);
    background-repeat: no-repeat;
    background-position: left;
    font-size: 11px !important;
    color: #267BB1 !important;
    font-weight: bold;
    text-decoration: none;
    padding-left: 12px;
    width: 10px;
    height: 10px;
}

.under_construction_background
{
    background-image: url(images/page_underconstruction.png);
    background-repeat: no-repeat;
    width: 526px;
    height: 350px;
}

.msg_align_center
{
    text-align: center;
}

.label_text_record_number
{
    font-size: 9px !important;
    color: #B23903;
    font-weight: bold !important;
}

.grouping_border_bg
{
    width: 100%;
    border: 1px solid #D8D8D8;
    padding: 2px;
}

.grouping_bg
{
    width: 100%;
    padding: 2px;
}

/*Slider*/
.border
{
    border: 1px solid red;
}

.slider_rail
{
    position: relative;
    background-image: url(images/slider_rail.gif);
    background-repeat: repeat-x;
    width: 150px;
    height: 3px;
    vertical-align: middle;
}

.slider_handler
{
    position: absolute;
    width: 7px;
    height: 7px;
}

.MultiHandleMinSliderCss
{
    background-image: url("images/slider_handler.gif");
    position: absolute;
    width: 7px;
    height: 7px;
}

.MultiHandleMaxSliderCss
{
    background-image: url("images/slider_handler.gif");
    position: absolute;
    width: 7px;
    height: 7px;
}

/* Numeric Up Down */
.MaskedEditFocus
{
    background-color: #ffffcc;
    color: #000000;
}

.MaskedEditMessage
{
    color: #ff0000;
    font-weight: bold;
}

.MaskedEditError
{
    background-color: #ffcccc;
}

.MaskedEditFocusNegative
{
    background-color: #ffffcc;
    color: #ff0000;
}

.MaskedEditBlurNegative
{
    color: #ff0000;
}

.link_text
{
    font-size: 11px !important;
    color: #000 !important;
    font-weight: bold !important;
    text-decoration: None;
}

.link_text:hover
{
    text-decoration: Underline;
}

.popup_link_button
{
    font-size: 11px !important;
    color: #16A9C4 !important;
    text-decoration: None !important;
}

.popup_link_button:hover
{
    font-size: 11px !important;
    color: #16A9C4 !important;
    text-decoration: Underline !important;
}

.popup_link_button a
{
    font-size: 11px !important;
    color: #16A9C4 !important;
    text-decoration: None !important;
}

.popup_link_button th
{
    font-size: 11px !important;
    color: #16A9C4 !important;
    text-decoration: None !important;
}

.popup_link_button th a
{
    font-size: 11px !important;
    color: #16A9C4 !important;
    text-decoration: None !important;
}

.popup_link_button th th a: hover
{
    font-size: 11px !important;
    color: #fff !important;
    text-decoration: Underline !important;
}

.popup_footer_bg
{
    background-color: red;
}

.pop_divider_line
{
    font-size: 11px !important;
    color: #ffffff !important;
    font-weight: normal !important;
    padding-left: 5px;
    padding-right: 5px;
}

.popup_link_text
{
    font-size: 11px !important;
    white-space: nowrap !important;
    color: #ffffff !important;
    text-align: left !important;
    text-decoration: None !important;
}

.popup_link_text a
{
    font-size: 11px !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

.popup_link_text:hover
{
    text-align: left;
    text-decoration: underline !important;
}

.popup_link_text th
{
    text-align: left;
}

.popup_link_text th a
{
    text-align: left;
    text-decoration: none !important;
}

.popup_link_text th a:hover
{
    text-align: left;
    text-decoration: underline !important;
}

.grid_normal_alternate_bg
{
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
}

.td_v_line
{
    background-color: #D8D8D8;
    width: 1px;
}
/*Calendar*/

.MyCalendar .ajax__calendar_container
{
    border: 3px solid #D8D8D8;
    background-color: #ffffff;
    color: #0193cf;
}

.MyCalendar .ajax__calendar_other .ajax__calendar_day, .MyCalendar .ajax__calendar_other .ajax__calendar_year
{
    color: black;
}

.MyCalendar .ajax__calendar_hover .ajax__calendar_day, .MyCalendar .ajax__calendar_hover .ajax__calendar_month, .MyCalendar .ajax__calendar_hover .ajax__calendar_year
{
    color: black;
}

.MyCalendar .ajax__calendar_active .ajax__calendar_day, .MyCalendar .ajax__calendar_active .ajax__calendar_month, .MyCalendar .ajax__calendar_active .ajax__calendar_year
{
    color: black;
    font-weight: bold;
}

.topHeader
{
    height: 30px;
    width: 83px;
    vertical-align: middle;
    background-color: #DAE6EB;
}

.topAlternateHeader
{
    height: 30px;
    width: 83px;
    vertical-align: middle;
    background-color: #BDC9CE;
}
.leftHeader
{
    background-color: #A3C0CD;
    width: 100px;
}
.leftAlternateHeader
{
    background-color: #BCD2DC;
    width: 100px;
}


/*Test Conduction*/

.test_con_header_bg
{
    background-image: url(images/test_con_topstrip.gif);
    background-repeat: repeat-x;
    height: 41px;
    width: 100%;
}

.test_con_body_bg
{
    background-image: url(images/test_con_body_bg.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    height: 517px;
    width: 100%;
    vertical-align: top;
}

.test_con_title
{
    background-image: url(images/test_con_title.gif);
    background-repeat: no-repeat;
    height: 41px;
    width: 311px;
}

.test_con_title_text
{
    font-size: 11px !important;
    color: #ffffff !important;
}

.test_con_title_linkbutton
{
    font-size: 11px !important;
    color: #ffffff !important;
    text-decoration: Underline;
}

.test_con_title_linkbutton a
{
    font-size: 11px !important;
    color: #ffffff !important;
    text-decoration: Underline;
}
.test_con_title_linkbutton:hover
{
    font-size: 11px !important;
    color: #000000 !important;
    text-decoration: None;
}

.test_con_header_text
{
    font-size: 14px !important;
    font-weight: bold !important;
    color: #0B6E97 !important;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

.test_con_question_text
{
    font-size: 12px !important;
    font-weight: bold !important;
    color: #0B6E97 !important;
    text-align: left;
}

.test_con_progress_text_bold
{
    font-size: 12px !important;
    font-weight: bold !important;
    color: #1A8AB8 !important;
    text-align: left;
}
.test_con_progress_text
{
    font-size: 12px !important;
    color: #1A8AB8 !important;
    text-align: left;
}

.test_con_progress_bar
{
    background-image: url(images/test_con_progressbar.gif);
    background-repeat: repeat-x;
    height: 6px;
    width: 50%;
}


.test_con_label_text
{
    font-size: 11px !important;
    color: #565F65 !important;
    text-align: left;
    white-space: nowrap;
}

.test_con_footer_text
{
    font-size: 10px !important;
    color: #556064 !important;
    text-align: center;
}

.test_con_question_icon
{
    background-image: url(images/test_con_question_icon.gif);
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 30px;
    background-position: left;
    text-align: left;
}

.test_con_help_button
{
    background-image: url(images/test_con_help_icon.gif);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    cursor: hand;
    font-weight: bold !important;
    text-decoration: None;
}
.test_con_help_button a
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: None;
}
.test_con_help_button:hover
{
    font-size: 11px !important;
    color: #000000 !important;
    text-decoration: Underline;
}
.test_con_line
{
    border-bottom: 1px solid #74B6D1;
}

.test_con_button
{
    font-size: 11px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: center;
    background-image: url(images/test_con_buttonstrip.gif);
    background-repeat: repeat-x;
    height: 24px;
    border: 1px solid #E35409;
    cursor: hand;
    background-color: #E35409;
    padding-left: 10px;
    padding-right: 10px;
}

.test_con_infodoc
{
    background-image: url(images/test_con_infodoc.gif);
    background-repeat: no-repeat;
    width: 31px;
    height: 398px;
    background-position: right;
}

.test_con_infobg
{
    background-image: url(images/test_con_infobg.gif);
    background-repeat: no-repeat;
    width: 224px;
    height: 398px;
    background-position: right;
}

.test_con_textbox_green
{
    font-family: Digital Readout ExpUpright !important;
    font-size: 18px !important;
    color: #9DC56E !important;
    font-weight: bold !important;
    border: 1px solid #A2AFB5;
    background-color: #ffffff;
    height: 22px;
    padding: 5px;
    text-align: center;
}
.test_con_textbox_orange
{
    font-family: Digital Readout ExpUpright !important;
    font-size: 18px !important;
    color: #CDB181 !important;
    font-weight: bold !important;
    border: 1px solid #A2AFB5;
    background-color: #ffffff;
    height: 22px;
    padding: 5px;
    text-align: center;
}
.test_con_textbox_blue
{
    font-family: Digital Readout ExpUpright !important;
    font-size: 18px !important;
    color: #94BFC2 !important;
    font-weight: bold !important;
    border: 1px solid #A2AFB5;
    background-color: #ffffff;
    height: 22px;
    padding: 5px;
    text-align: center;
}

.test_con_questions_answered
{
    font-size: 16px !important;
    color: #C5BD7D !important;
    font-weight: bold !important;
    text-align: left;
}
.test_con_questions_skipped
{
    font-size: 16px !important;
    color: #8ACBB5 !important;
    font-weight: bold !important;
    text-align: left;
}
.test_con_questions_remaining
{
    font-size: 16px !important;
    color: #DBAEB1 !important;
    font-weight: bold !important;
    text-align: left;
}

.test_con_dotline
{
    border-bottom: 2px dotted #8D999E;
}
.label_field_text_green
{
    font-size: 11px !important;
    color: #0EB863 !important;
    font-weight: bold;
}

.adap_bg
{
    background-image: url(images/adap_bg.jpg);
    background-repeat: repeat-x;
    height: 143px;
    border-top: 2px solid #fff;
    padding: 10px;
    background-position: bottom;
    background-color: #f2f2f4;
}

.adap_top_line
{
    background-image: url(images/adap_top_line.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.adap_icon
{
    background-image: url(images/adap_icon.gif);
    background-repeat: no-repeat;
    height: 83px;
    width: 100px;
}

.adap_icon_001
{
    background-image: url(images/adap_icon_001.gif);
    background-repeat: no-repeat;
    height: 83px;
    width: 100px;
}

.adap_icon_002
{
    background-image: url(images/adap_icon_002.gif);
    background-repeat: no-repeat;
    height: 83px;
    width: 100px;
}

.adap_inside_bg
{
    background-image: url(images/adap_inside_bg.jpg);
    background-repeat: repeat;
    border: 1px solid #B6CDD2;
    padding: 10px;
}

.adap_arrow_bg
{
    background-image: url(images/adap_arrow_bg.jpg);
    background-repeat: repeat-y;
    border-left: 1px solid #B6CDD2;
    border-top: 1px solid #B6CDD2;
    border-bottom: 1px solid #B6CDD2;
    height: 80px;
    width: 13px;
}

.adap_arrow_bg_001
{
    background-image: url(images/adap_arrow_bg_001.jpg);
    background-repeat: repeat-y;
    border-right: 1px solid #B6CDD2;
    border-top: 1px solid #B6CDD2;
    border-bottom: 1px solid #B6CDD2;
    height: 80px;
    width: 13px;
}
.adap_leftside_arrow
{
    background-image: url(images/adap_leftside_arrow.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}

.adap_rightside_arrow
{
    background-image: url(images/adap_rightside_arrow.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}

.adap_inside_line
{
    background-image: url(images/adap_insiide_line.jpg);
    background-repeat: repeat-y;
    width: 1px;
}
.adap_header_text
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.more_link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    text-indent: 10px;
    color: #0A7CAB;
}

.td_h_line
{
    background-color: #ededed;
    height: 1px;
}

.candidate_header
{
    font-size: 16px !important;
    color: #484D50 !important;
    font-weight: bold !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.candidate_td_h_line
{
    background-color: #B5C1C7;
    height: 1px;
}

.candidate_button
{
    font-size: 11px !important;
    color: #484D50 !important;
    font-weight: bold !important;
    text-align: center;
    background-image: url(images/candidate_bg.gif);
    background-repeat: repeat-x;
    height: 22px;
    border: 1px solid #D5DADC;
    cursor: pointer;
    background-color: #ffffff;
}

.candidate_button a
{
    font-size: 11px !important;
    color: #484D50 !important;
    font-weight: bold !important;
    text-align: center;
    background-image: url(images/candidate_bg.gif);
    background-repeat: repeat-x;
    height: 22px;
    border: 1px solid #D5DADC;
    cursor: pointer;
    background-color: #ffffff;
}

.candidate_button:hover
{
    font-size: 11px !important;
    color: #484D50 !important;
    font-weight: bold !important;
    text-align: center;
    background-image: url(images/candidate_bg_hover.gif);
    background-repeat: repeat-x;
    height: 22px;
    border: 1px solid #D5DADC;
    cursor: pointer;
    background-color: #ffffff;
}

.cand_pending_tests_icon
{
    background-image: url(images/cand_pending_tests.png);
    background-repeat: no-repeat;
    height: 157px;
    width: 128px;
    border-bottom: 1px solid #92C6DC;
    border-top: 5px solid #E9EFF3;
    background-position: center;
    padding: 10px;
}

.cand_pending_activities_icon
{
    background-image: url(images/cand_pending_activities.png);
    background-repeat: no-repeat;
    height: 220px;
    width: 148px;
    border-bottom: 1px solid #92C6DC;
    border-top: 5px solid #E9EFF3;
    background-position: center;
    padding: 10px;
}

.activity_home_pending_interviews_icon
{
    background-image: url(images/activity_home_pending_interviews.png);
    background-repeat: no-repeat;
    height: 220px;
    width: 148px;
    border-bottom: 1px solid #92C6DC;
    border-top: 5px solid #E9EFF3;
    background-position: center;
    padding: 10px;
}

.activity_home_pending_tests_icon
{
    background-image: url(images/activity_home_pending_tests.png);
    background-repeat: no-repeat;
    height: 220px;
    width: 148px;
    border-bottom: 1px solid #92C6DC;
    border-top: 5px solid #E9EFF3;
    background-position: center;
    padding: 10px;
}

.cand_test_detail_icon
{
    background-image: url(images/candidate_test_detail.png);
    background-repeat: no-repeat;
    height: 220px;
    width: 148px;
    background-position: center;
    padding: 10px;
}

.cand_rating_feedback_icon
{
    background-image: url(images/candidate_rating_feedback.png);
    background-repeat: no-repeat;
    height: 220px;
    width: 148px;
    background-position: center;
    padding: 10px;
}


.cand_interested_tests_icon
{
    background-image: url(images/cand_interested_tests.png);
    background-repeat: no-repeat;
    height: 157px;
    width: 128px;
    border-bottom: 1px solid #92C6DC;
    border-top: 5px solid #E9EFF3;
    padding: 10px;
}

.cand_recently_completed_tests_icon
{
    background-image: url(images/cand_recently_completed_tests.png);
    background-repeat: no-repeat;
    height: 157px;
    width: 128px;
    border-bottom: 1px solid #92C6DC;
    border-top: 5px solid #E9EFF3;
    padding: 10px;
}

.candidate_test_header
{
    font-size: 12px !important;
    color: #0193cf !important;
    font-weight: bold !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.candidate_label_text
{
    font-size: 11px !important;
    color: #484D50 !important;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: normal;
}

.cand_bg_light
{
    background-color: #F9FBFC;
    padding: 10px;
    border-bottom: 1px solid #92C6DC;
    border-top: 5px solid #E9EFF3;
}

.cand_bg_dark
{
    background-color: #F1F6F8;
    padding: 10px;
    border-bottom: 1px solid #0193CF;
    border-top: 5px solid #D7E5EE;
}
.cand_moreinfo_div
{
    height: 150px;
    overflow: auto;
    border: solid 8px #586166;
}

.forgotpassword
{
    font-size: 10px !important;
    color: #FD8A0B !important;
}
.forgotpassword a
{
    font-size: 10px !important;
    color: #FD8A0B !important;
    text-decoration: Underline;
}

.forgotpassword a:hover
{
    font-size: 10px !important;
    color: #000000 !important;
    text-decoration: none;
}

.access_denied_background
{
    background-image: url(images/access_denied.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 420px;
    height: 430px;
}

.test_conduction_completed_message_link_message
{
    font-family: Tahoma;
    font-size: 11px;
    color: #81868A;
    text-align: left;
    text-decoration: none;
}

.test_conduction_completed_message_link_btn
{
    font-family: Tahoma;
    font-size: 11px;
    color: #1c96c9;
    text-align: left;
    text-decoration: underline;
}

.unhandled_error_background
{
    background-image: url(images/unhandled_error.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 420px;
    height: 430px;
}

.unhandled_error_title
{
    font-family: Tahoma;
    font-size: 18px;
    color: #d54608;
    text-align: left;
    text-decoration: none;
    padding-right: 10px;
}

.unhandled_error_message
{
    font-family: Tahoma;
    font-size: 13px;
    color: #81868A;
    text-align: left;
    text-decoration: none;
    padding-right: 10px;
}

.unhandled_error_message_link_message
{
    font-family: Tahoma;
    font-size: 11px;
    color: #81868A;
    text-align: left;
    text-decoration: none;
}

.unhandled_error_message_link_btn
{
    font-family: Tahoma;
    font-size: 11px;
    color: #1c96c9;
    text-align: left;
    text-decoration: underline;
}

.feedback_title
{
	font-size: 50px;
	color: #3564ab !important;
	text-decoration: none !important;
	padding-left: 2px !important;
	padding-top: 2px !important;
	padding-bottom: 10px !important;
	height: 40px;
	font-weight: bold;
}

.feedback_background
{
    background-image: url(images/feedback.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 240px;
    height: 280px;
}

.feedback_instructions_title
{
    font-size: 13px !important;
    font-weight: bold !important;
    color: #369105 !important;
    text-align: left;
}

.feedback_instructions
{
    font-size: 11px !important;
    font-weight: normal !important;
    color: #369105 !important;
    text-align: left;
    font-style: italic;
}

.feedback_link_message
{
    font-family: Tahoma;
    font-size: 11px;
    color: #81868A;
    text-align: left;
    text-decoration: none;
}

.feedback_link_btn
{
    font-family: Tahoma;
    font-size: 11px;
    color: #1c96c9;
    text-align: left;
    text-decoration: underline;
}

.label_field_bold_text
{
    font-size: 11px !important;
    color: #148EC0 !important;
    font-weight: bold !important;
}

body
{
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
    font-size: 11px;
    background-color: #969da3;
}
html, body, form
{
    width: 100%;
    height: 100%;
}

.content_outer
{
    background-color: #81888e;
    padding: 1px;
    height: 100%;
}

.top_strip
{
    background-image: url('Images/top_strip_fortehcm.gif');
    background-repeat: repeat-x;
    background-position: top;
    background-color: White;
    border-top: 1px solid #ffffff !important;
    border-left: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
    border-bottom: 1px solid #ced3d7 !important;
    padding-left: 10px;
    padding-right: 10px;
}

.content_strip
{
    background-image: url('Images/content_strip_fortehcm.gif');
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #ffffff;
    border-left: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
}

.footer_strip
{
    background-image: url('Images/footer_bg_fortehcm.gif');
    background-repeat: repeat-x;
    border-left: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    background-color: #e9ecee;
    background-position: bottom;
    height: 30px;
}

.banner_home_bg
{
    background-color: #f1f5f8;
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ebeeef;
}

.shade_fortehcm
{
    background-image: url('Images/shade_fortehcm.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 100px;
}

.rightside_bg_fortehcm
{
    background-image: url('Images/rightside_bg_fortehcm.gif');
    background-repeat: repeat-x;
    width: 228px;
    height: 100px;
    background-position: bottom;
    background-color: #eff1f2;
}

.login_bg
{
    background-image: url('Images/login_bg_fortehcm.png');
    background-repeat: repeat-x;
    width: 423px;
    height: 62px;
    background-position: right;
}

.topmenu
{
    font-family: Tahoma;
    font-size: 13px;
    color: #d54608 !important;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}


.textbox
{
    font-family: Tahoma;
    font-size: 11px;
    color: #33424b;
    text-align: left;
    background-color: #fff;
    border: 1px solid #b9bfc5;
}

.labletext
{
    font-family: Tahoma;
    font-size: 11px;
    color: #33424b;
    text-align: left;
}

.link_btn
{
    font-family: Tahoma;
    font-size: 11px;
    color: #FFFFFF;
    text-align: left;
    text-decoration: underline;
}

.contentbox_right
{
    border-right: 1px dotted #b9bfc5;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
}
.contentbox_left
{
    border-left: 1px dotted #b9bfc5;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
}
.contentbox_center
{
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
}

.padding_top
{
    padding-top: 30px;
}

.body_content
{
    font-family: Tahoma;
    font-size: 13px;
    color: #81868a;
    text-align: left;
    padding-top: 10px;
}

.body_header
{
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    color: #434b51;
    text-align: left;
    white-space: nowrap;
}

.line_thin
{
    background-image: url('Images/line_thin.gif');
    background-repeat: repeat-x;
    width: 100%;
    height: 2px;
    background-position: bottom;
}

.line_thick
{
    background-image: url('Images/line_fortehcm.gif');
    background-repeat: repeat-x;
    width: 100%;
    height: 2px;
    background-position: top;
}

.more_btn
{
    background-image: url('Images/arrow.png');
    height: 7px;
    background-repeat: no-repeat;
    font-family: Tahoma;
    font-size: 11px;
    color: #d54608;
    text-align: right;
    text-decoration: none;
    padding-right: 10px;
    background-position: right;
}

.footer_content
{
    font-family: Tahoma;
    font-size: 11px;
    color: #52595f;
    text-align: left;
}

.footer_menu_text
{
    font-family: Tahoma;
    font-size: 11px;
    color: #52595f;
    text-align: center;
    padding-right: 4px;
}

.footer_menu_text_feedbackLinkButton
{
    font-family: Tahoma;
    font-size: 11px;
    color: #52595f;
    text-align: center;
    text-decoration: none;
    padding-right: 4px;
}

.td_padding_left_right
{
    padding: 10px;
}

.popupcontrol_segmentControl
{
    height: 350px;
    width: 32%;
    background-position: center;
    background-color: #283033;
}

.link_button_hcm
{
    font-size: 11px !important;
    color: #ff690e !important;
    text-decoration: Underline !important;
    white-space: nowrap;
}

.link_button_hcm a
{
    font-size: 11px !important;
    color: #ff690e !important;
    text-decoration: Underline !important;
    white-space: nowrap;
}
.link_button_hcm:hover
{
    font-size: 11px !important;
    color: #ff690e !important;
    text-decoration: none !important;
    white-space: nowrap;
}

.padding_top_bottom
{
    padding-top: 30px;
    padding-bottom: 20px;
}

.overview
{
    background-image: url(images/overview.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 240px;
    height: 280px;
}

.overview_title
{
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bold;
    color: #d54608 !important;
    text-align: left;
    text-decoration: none;
    border-style: none;
    border-width: 0px;
    padding-left: 20px;
}

.overview_content
{
    font-family: Tahoma;
    font-size: 13px;
    font-weight: normal;
    color: #81868A !important;
    text-align: left;
    text-decoration: none;
    border-style: none;
    border-width: 0px;
    padding-top: 6px;
    padding-left: 20px;
}

.help_icon_hcm
{
    background-image: url(images/help_icon_hcm.gif);
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    cursor: hand;
    padding-right: 5px;
}

.no_pending_test_found
{
    background-image: url(images/no_pending_test_found.png);
    background-repeat: no-repeat;
    height: 181px;
    width: 773px;
}

.no_pending_interview_found
{
    background-image: url(images/no_pending_interview_found.png);
    background-repeat: no-repeat;
    height: 181px;
    width: 773px;
}

.home_icon_hcm
{
    background-image: url(images/home_icon_hcm.gif);
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    cursor: hand;
    padding-right: 5px;
}

.popupcontrol_forget_password
{
    height: 250px;
    width: 400px;
    background-color: #283033;
}

.browser_instructions_row
{
    background-image: url(images/instructions_bulletin.gif);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: left;
    padding-left: 16px;
    font-size: 11px !important;
    color: #148EC0 !important;
    font-weight: normal !important;
    border: none;
    width: 12px;
    height: 12px;
}

.browser_instructions_label_header_text
{
    font-size: 11px !important;
    color: #148EC0 !important;
    font-weight: bold !important;
}

.browser_instructions_list_view
{
    background-color: #FFFFFF;
    border-top: 1px solid #D8D8D8 !important;
    border-bottom: 1px solid #D8D8D8 !important;
    border-left: 1px solid #D8D8D8 !important;
    border-right: 1px solid #D8D8D8 !important;
}

.browser_instructions_list_place_holder
{
    padding: 0px 0px 0px 8px;
}

.contact_link_button
{
    font-size: 11px !important;
    font-style: normal !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
}


.can_text_box
{
    width: 150px;
    font-size: 12px;
    color: #4B4B4B;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #b3c3d3 !important;
    background-image: url(Images/form_texbox_bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: White;
    height: 16px;
}

.can_dropdown
{
    width: 150px;
    font-size: 12px;
    margin-bottom: 8px;
    padding: 4px;
    color: #4B4B4B;
    border: 1px solid #b3c3d3 !important;
    background-image: url(Images/form_texbox_bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: White;
}

/* Style created for instruction & introduciton page */
.header_text_bold_div
{
    font-size: 12px !important;
    color: #33424B !important;
    font-weight: bold !important;
    padding-top: 5px;
}

.link_button_div
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding-top: 0px;
}

.link_button_div a
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
}

.link_button_div:hover
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: Underline !important;
    white-space: nowrap;
}

.tab_body_bg_div
{
    background-color: #FFFFFF;
    width: 975px;
    border: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 2px;
    margin-left: 3px;
    margin-top: 5px;
}

.browser_instructions_list_view_div
{
    width: 975px;
    background-color: #FFFFFF;
    border-top: 1px solid #D8D8D8 !important;
    border-bottom: 1px solid #D8D8D8 !important;
    border-left: 1px solid #D8D8D8 !important;
    border-right: 1px solid #D8D8D8 !important;
}

.header_bg_div
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 975px;
    border: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px !important;
    color: #33424B !important;
    font-weight: bold !important;
    text-align: left;
    background-position: bottom;
    background-color: #ffffff;
    margin: 3px 0px 0px 3px;
}

.grid_header_bg_div
{
    background-image: url(images/grid_header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 455px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 5px;
}


.panel_body_bg_div
{
    background-image: url(images/panel_body_bg.gif);
    background-repeat: repeat-x;
    height: 150px;
    width: 460px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding-left: 5px;
    padding-right: 5px;
    background-position: bottom;
    background-color: #FFFFFF;
}

.my_report_bg_div
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    height: 203px;
    width: 470px;
    border: 1px solid #D8D8D8;
    background-position: bottom;
    background-color: #ffffff;
}
.resume_Table_Bg
{
    width: 940px;
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #D8D8D8;
    text-align: left;
    padding: 10px;
    text-decoration: None;
    background-color: #F9FBFC;
}


.candidate_statistics_container_left
{
	float: left;
	width:290px;
	padding:5px 0px 0px 5px;
}
.candidate_statistics_container_right
{
	float: left;
	width:70px;
	padding:5px 0px 0px 0px;
}

.test_statistics_container_left_1
{
	float: left;
	width:200px;
	padding:5px 0px 0px 0px;
}

.test_statistics_container_right_1
{
	float: left;
	width:105px;
	padding:5px 0px 0px 0px;
}

.test_statistics_container_left_2
{
	float: left;
	width:107px;
	padding:5px 0px 0px 0px;
}

.test_statistics_container_right_2
{
	float: left;
	width:10px;
	padding:5px 0px 0px 0px;
}

.reference_form_container
{
	width:740px;
	padding-top:10px;
}
.reference_form_container_left
{
	width: 135px; 
	padding-top: 10px; 
	font-size: 14px; 
	color: #000; 
	float: left;
}
.reference_form_container_right
{
	width: 225px; 
	float: left;
}

.list_view_div
{
    width: 95%;
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #E7EDEF;
    text-align: left;
    padding: 5px;
    text-decoration: None;
    background-color: #F9FBFC;
    height:100px;
}

/* End instruction & introduciton page */


.resume_header_bg_div
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 960px;
    border: 1px solid #D8D8D8;
    background-position: bottom;
    background-color: #ffffff;
}

.resume_header_bg_left
{
    height: 27px;
    float: left;
    width: 450px;
    padding-left: 10px;
    padding-top: 5px;
}

.resume_float_left
{
    float: left;
}

.resume_header_bg_right
{
    height: 27px;
    float: right;
    padding-top: 5px;
    padding-right: 10px;
}


.resume_header_text_bold_div
{
    font-size: 12px !important;
    color: #33424B !important;
    font-weight: bold !important;
}

.resume_header_text
{
    font-size: 12px !important;
    color: #33424B !important;
}

.resume_ListViewNormalStyle
{
    width: 950px;
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #D8D8D8;
    text-align: left;
    padding: 5px;
    text-decoration: None;
    background-color: #F9FBFC;
}
.resume_ListViewAlternateStyle
{
    width: 960px;
    font-size: 11px !important;
    color: #33424B !important;
    background-color: #FFFfFf;
    border: 1px solid #E7EDEF;
    text-align: left;
    padding: 5px;
    text-decoration: None;
}

.resume_menu_bg
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    height: 37px;
    width: 960px;
    border: 1px solid #D8D8D8;
    background-position: bottom;
    background-color: #ffffff;
}


.my_resume_link_button
{
    background-image: url(images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    width: 135px;
    display: block;
}

.my_resume_link_button a:link
{
    background-image: url(images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    display: block;
    width: 135px;
}

.my_resume_link_button a:active
{
    background-image: url(images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    display: block;
    width: 135px;
}

.my_resume_link_button a:visited
{
    background-image: url(images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    display: block;
    width: 135px;
}

.my_resume_link_button:hover
{
    background-image: url(images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #FF5700 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    width: 135px;
    display: block;
}

.my_resume_link_button_selected
{
    font-size: 13px !important;
    background-image: url(images/resume_menu_bg.png);
    background-repeat: no-repeat;
    font-weight: bold;
    color: #fff !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    width: 135px;
    text-align: center;
    display: block;
}

.feedback_captcha_inner_bg
{
    background-image: url(images/popup_panel_bg.gif);
    width: 100%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    text-align: left;
}

.signin_check_box_text
{
    font-size: 12px;
    font-weight: normal;
    color: #fff;   
}

.edit_profile_menu_link_button
{
    background-image: url(images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    width: 135px;
    display: block;
}

.edit_profile_menu_link_button a:link
{
    background-image: url(images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    display: block;
    width: 135px;
}

.edit_profile_menu_link_button a:active
{
    background-image: url(images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    display: block;
    width: 135px;
}

.edit_profile_menu_link_button a:visited
{
    background-image: url(images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    display: block;
    width: 135px;
}

.edit_profile_menu_link_button:hover
{
    background-image: url(images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #FF5700 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    width: 135px;
    display: block;
}

.edit_profile_menu_link_button_selected
{
    font-size: 13px !important;
    background-image: url(images/resume_menu_bg.png);
    background-repeat: no-repeat;
    font-weight: bold;
    color: #fff !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    width: 135px;
    text-align: center;
    display: block;
}

.recruiter_administered_label
{
    background-image: url(images/recruiter_administered_icon.png);
    background-repeat:no-repeat; 
    font-size: 14px;
    font-weight: normal;
    color: #0e80e1 !important;
    padding-left: 24px;
    padding-top: 1px;
}

.self_administered_label
{
    background-image: url(images/self_administered_icon.png);
    background-repeat:no-repeat; 
    font-size: 14px;
    font-weight: normal;
    color: #0e80e1 !important;
    padding-left: 24px;
    padding-top: 1px;
}

.expired_label
{
    background-image: url(images/expired_icon.png);
    background-repeat:no-repeat; 
    font-size: 14px;
    font-weight: normal;
    color: #ea6d00 !important;
    padding-left: 24px;
    padding-top: 1px;
}

.activity_description_label
{
	font-size: 12px !important;
	color: #575f66 !important;	
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	width:400px!important;	
}

.activity_name_label
{
	font-size: 14px !important;
	color: #0e80e1 !important;
	white-space: nowrap !important;
	font-weight: bold;
	vertical-align: middle;		
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
}

.activity_number_label
{
	font-size: 14px !important;
	color: #ffffff !important;
	background-image: url(images/activity_number_icon.png);
	background-repeat:no-repeat; 
	white-space: nowrap !important;
	font-weight: bolder;
	vertical-align: middle;	
	text-align: center;	
	display: block;
	width:26px;
	height: 22px;
	padding-top: 3px;
}

.activity_caption_label
{
	font-size: 12px !important;
	color: #575f66 !important;	
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
}

.activity_value_label
{
	font-size: 12px !important;
	color: #0e80e1 !important;	
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
}

.activity_no_activity_label
{
    font-size: 12px;
    font-weight: normal;
    color: #d54608 !important;
    text-align: left;
    text-decoration: none;
}

.activity_start_btn_bg
{
	background-image: url(Images/start_activity.png);
	background-repeat: no-repeat;
	height: 28px;
	width: 166px;
	font-size: 12px;
	font-weight: bold;
	background-color: transparent;
	border: 1px none #a5e0bd;
	color: White !important;
	vertical-align: middle;
}

/* Style added for resume by VSJ */
.can_resume_text_box
{
    width: 330px;
    font-size: 11px;
    color: #4B4B4B;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #b3c3d3 !important;
    background-image: url(Images/form_texbox_bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: White;
    height:13px;
    font-family:calibri,sans-serif;
}

.can_resume_label_field_text
{
    font-size: 11px !important;
    color: #283033 !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    white-space: nowrap;
}

.can_resume_contact_container_left
{
	width: 95px;
	padding-top: 10px;
	font-size: 14px;
	color: #000;
	float: left;
}

.can_resume_contact_container_right
{
	width: 370px;
	float: left;
}

.can_resume_form_container
{
    clear: both; 
    width: 960px; 
    padding-top: 10px; 
    padding-left: 10px;
}

.can_resume_text_box_name
{
    width: 172px;
    font-size: 11px;
    color: #4B4B4B;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #b3c3d3 !important;
    background-image: url(Images/form_texbox_bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: White;
    height:13px;
    font-family:calibri,sans-serif;
}

.can_resume_tech_container_left
{
	width: 135px;
	padding-top: 10px;
	font-size: 14px;
	color: #000;
	float: left;
}

.can_resume_tech_container_right
{
	width: 370px;
	float: left;
}

.can_resume_project_container_left
{
	width: 100px;
	padding-top: 10px;
	font-size: 14px;
	color: #000;
	float: left;
}

.can_resume_project_container_right
{
	width: 370px;
	float: left;
}

.can_resume_project_form_container
{
    clear: both; 
    width: 910px; 
    padding-top: 10px; 
    padding-left: 10px;
}

.can_resume_panel_text
{
    font-size: 11px !important;
    color: #283033 !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    white-space: nowrap;
}

.test_results_header_bg_div
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 960px;
    border: 1px solid #D8D8D8;
    background-position: bottom;
    background-color: #ffffff;
}

.can_resume_container_left
{
	width: 95px;
	padding-top: 10px;
	font-size: 14px;
	color: #000;
	float: left;
}

.can_resume_container_right
{
	width: 330px;
	float: left;
}
.can_resume_form_container_panel
{
    clear: both; 
    width: 880px; 
    padding-top: 10px; 
    padding-left: 10px;
}
.can_resume_panel_text_box
{
    width: 295px;
    font-size: 11px;
    color: #4B4B4B;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #b3c3d3 !important;
    background-image: url(Images/form_texbox_bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: White;
    height:13px;
    font-family:calibri,sans-serif;
}

.resume_panel_list_view
{
    width: 905px;
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #E7EDEF;
    text-align: left;
    padding: 5px;
    text-decoration: None;
    background-color: #F9FBFC;
}

/*End style by VSJ */

.interview_instructions_captcha_inner_bg
{
    background-image: url(images/popup_panel_bg.gif);
    width: 100%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    text-align: left;
}

.resume_parser_status_inner_bg
{
    background-image: url(images/popup_panel_bg.gif);
    width: 100%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #EEF2F4;
    text-align: left;
}

.resume_parser_status_message_title_label
{
    font-size: 26px;
    color: #ff5a00 !important;
    text-align: center;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: bold;
}


.resume_parser_status_message_label
{
    font-size: 18px;
    color: #088ae5 !important;
    text-align: center;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: bold;
}


.ratingStar 
{
    font-size: 0pt;
    width: 13px;
    height: 12px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.Star
{
    background-image: url(images/Star.gif);
    height: 17px;
    width: 17px;
}
.WaitingStar
{
    background-image: url(images/WaitingStar.gif);
    height: 17px;
    width: 17px;
}
.FilledStar
{
    background-image: url(images/FilledStar.gif);
    height: 17px;
    width: 17px;
}