﻿BODY, html
{
    font-size: 11px !important;
    font-family: Arial,sans-serif;
    margin:auto;
}

.PanelStyle
{
    width: 100%;
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #E7EDEF;
    text-align: left;
    padding: 5px;
    text-decoration: None;
}
.resume_bg
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #000000;
    text-align: left;
    height: 100%;
}

.PreviewResume
{
    text-align: left;
    width: 95%;
    border: solid 1px gray;
    padding: 15px;
}
.RightPaneInnerDiv
{
    overflow: auto;
    height: 390px;
    text-align: left;
}
.RightPaneOuterDiv
{
    width: 48%;
    display: inline;
    float: left;
}
.ListViewNormalStyle
{
    width: 95%;
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #E7EDEF;
    text-align: left;
    padding: 5px;
    text-decoration: None;
    background-color: #F9FBFC;
}
.ListViewAlternateStyle
{
    width: 95%;
    font-size: 11px !important;
    color: #33424B !important;
    background-color: #FFFfFf;
    border: 1px solid #E7EDEF;
    text-align: left;
    padding: 5px;
    text-decoration: None;
}
.LeftPaneDiv
{
    width: 50%;
    display: inline;
    float: left;
}
