/* CSS Document */
@font-face
{
	font-family: 'calibri' , sans-serif;
	src: url("../font/calibri.ttf") /* TTF file for CSS3 browsers */ src: url("../font/calibri.eot") src: url("../font/calibri.woff");
}

body
{
	font-family: 'calibri' , sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	color: #8C8A8A;
	background-image: url(../Images/body_bg.gif);
	height: auto;
	background-repeat: repeat;
	background-color: #131A25;
}

#main_container
{
	width: 100%;
	height: 100%;
	background: url(../Images/main-area-bg.gif); /* Mani outer bg */
	background-repeat: repeat;
}
a
{
	outline: none;
}
img
{
	border: 0px;
}
.fl
{
	float: left;
}
/* Header class start here*/

#header_outer
{
	background-image: url(../Images/top-bg.gif); /* Header outer bg */
	background-repeat: repeat-x;
	height: 508px;
}
#header_inner
{
	width: 960px; /* Width of header outer*/
	margin: 0 auto;
	height: 105px;
}
#header_left_logo
{
	width: 131px; /* Width of logo outer*/
	height: 69px;
	vertical-align: top;
	float: left;
	padding: 36px 0px 0px 0px;
}
#header_right
{
	width: 829px; /* Width of header right outer*/
	float: left;
	height: 105px;
}
#header_btn_outer
{
	width: 199px; /* Width of header top button outer*/
	height: 33px;
	padding-left: 630px;
}
#header_btn_inner
{
	padding-right: 5px;
	float: left;
}
/* header menu start here*/
#index_main_menu
{
	padding: 30px 0px 19px 180px;
	height: 16px;
	width: 824px;
	white-space: nowrap;
}
#index_main_menu ul
{
	margin: 0px;
	padding: 0px;
}
#index_main_menu ul li
{
	list-style: none;
	float: left;
	text-align: right;
	padding: 0px 22px 0px 0px;
	font-weight: normal;
	color: #fff;
}
#index_main_menu ul li.last
{
	padding-right: 0px;
}
#index_main_menu ul li a
{
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}
#index_main_menu ul li a:hover
{
	font-size: 14px;
	color: #F05A03;
	font-weight: normal;
	text-decoration: none;
}
#index_main_menu ul li a.active
{
	color: #E15807;
}
#header_menu_outer
{
	padding: 30px 0px 19px 180px;
	height: 16px;
	width: 824px;
	white-space: nowrap;
}
#header_menu_outer ul
{
	margin: 0px;
	padding: 0px;
}
#header_menu_outer ul li
{
	list-style: none;
	float: left;
	text-align: right;
	padding: 0px 22px 0px 0px;
	font-weight: normal;
	font-size: 15px;
	color: #fff;
}
#header_menu_outer ul li.last
{
	padding-right: 0px;
}
#header_menu_outer ul li a
{
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}
#header_menu_outer ul li a:hover
{
	font-size: 14px;
	color: #F05A03;
	font-weight: normal;
	text-decoration: none;
}
#header_menu_outer ul li a.active
{
	color: #E15807;
}

.header_menu_outer_active
{
	color: #E15807;
}
/* header menu End here*/

#header_banner_outer
{
	width: 960px;
	margin: 0 auto;
	height: 408px;
	background-image: url(../Images/banner_fortehcm.png); /* Header banner gear brain bg image */
}
/* Header class End here*/


/* header middle Start here*/

#middle_bg
{
	background-image: url(../Images/middle_bg.gif); /* Header middle bg */
	background-repeat: repeat-x;
	height: 119px;
}
#middle_btn_outer
{
	width: 720px;
	height: 95px;
	padding: 24px 0px 0px 240px;
	margin: 0 auto;
}
#middle_btn_inner
{
	float: left;
	padding-right: 10px;
}
#middle_btn_inner_right
{
	float: left;
}
/* header middle End here*/


/* Cotent start here*/
#content_area
{
	width: 920px;
	margin: 0 auto;
}
#cnt_outer
{
	width: 960px;
	height: 240px;
	margin: 0 auto;
}
#cnt_left_outer
{
	width: 280px;
	float: left;
}
#cnt_left_outer_title
{
	padding-bottom: 5px;
	font-size: 17px;
	color: #758B8D;
	font-weight: bold;
}
#cnt_left_outer_title a
{
	color: #758B8D;
	cursor: pointer;
	text-decoration: none;
}
#ass_title
{
	padding-bottom: 5px;
	font-size: 17px;
	color: #758B8D;
	font-weight: bold;
}
#ass_title a
{
	color: #758B8D;
	text-decoration: none;
}
#rpo_title
{
	padding-bottom: 5px;
	font-size: 17px;
	color: #758B8D;
	font-weight: bold;
}
#rpo_title a
{
	color: #758B8D;
	text-decoration: none;
}
#about_title
{
	padding-bottom: 5px;
	font-size: 17px;
	color: #758B8D;
	font-weight: bold;
}
#about_title a
{
	color: #758B8D;
	text-decoration: none;
}
#download_title
{
	padding-bottom: 5px;
	font-size: 17px;
	color: #758B8D;
	font-weight: bold;
}
#download_title a
{
	color: #758B8D;
	text-decoration: none;
}
#cnt_left_outer_border
{
	width: 40px;
	float: left;
	height: 185px;
	background-image: url(../Images/content_right_border_bg.png);
	background-repeat: repeat-y;
	background-position: center;
}
#w280
{
	width: 280px;
}
#resource_cnt
{
	width: 280px;
	padding-top: 9px;
	height: 150px;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	color: #000;
	float: left;
}


#resource_left_icon
{
	padding: 0px 7px 0px 0px;
	width: 66px;
	height: 66px;
	float: left;
}
#resource_cnt span
{
	font-size: 15px;
	color: #000;
}

#Something_About_cnt
{
	width: 600px;
	float: left;
}
#Something_About_inner
{
	width: 605px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 18px;
	padding-right: 10px;
	height: 100px;
	text-align: left;
	font-size: 15px;
	color: #000;
	float: left;
}
#Something_About_left
{
	padding: 0px 7px 0px 0px;
	width: 66px;
	float: left;
}
#Download_outer
{
	width: 280px;
	float: left;
}
#Download_inner
{
	width: 280px;
	padding-top: 15px;
	height: 100px;
	padding-bottom: 10px;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	color: #000;
}
#Download_inner_left
{
	padding: 0px 7px 0px 0px;
	width: 66px;
	float: left;
}
/*.Download_inner_right
{
	line-height:18px;
	text-align:left;
	font-size:12px;
	padding-top:5px;
	color:#8C8A8A;
	float:left;
	width:207px;
}*/

#offer_strip_outer
{
	width: 100% !important;
	background-color: transparent !important;
	background-image: url(../Images/white_strip.gif);
	background-repeat: repeat-x;
	height: 69px;
}
#offer_strip_inner
{
	margin: 0 auto;
	width: 100% !important;
	padding-top: 20px;
	height: 49px;
	color: #979797;
	background-color: #FFFFFF;
}

#arrow
{
	background-image: url(../Images/down-arrow.png);
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 33px;
	position: absolute;
	left: 49%;
}
#offer_strip_inner_left
{
	width: 100% !important;
	text-align: center;
	font-size: 20px;
	background-color: #fff;
	float: left;
}
/*#offer_strip_inner_right
{
	float:left;
	width:135px;
}*/
/* Cotent End here*/

/* footer class start here*/
#footer_main_outer
{
	width: 100%;
	height: 345px;
	background-image: url(../Images/footer_main_outer.gif);
	background-repeat: repeat-x;
	position: relative;
	clear: both;
}
#footer_strip
{
	background-image: url(../Images/footer-pattern.png);
	background-repeat: repeat;
	padding-top: 40px;
	height: 305px;
	width: 100%;
}
#footer_inner
{
	width: 920px;
	padding-left: 40px;
	margin: 0 auto;
	height: 305px;
}
#footer_inner_top
{
	width: 920px;
	height: 150px;
	margin: 0 auto;
}
#footer_inner_bottom
{
	width: 920px;
	height: 155px;
	margin: 0 auto;
}
#footer_left
{
	width: 294px;
	height: 25px;
	font-size: 20px;
	color: #fff;
	float: left;
}
#footer_left_inner
{
	font-size: 15px;
	width: 293px;
	padding-top: 10px;
	height: 26px;
	color: #fff;
}
#footer_left a
{
	color: #FF5F00;
	text-decoration: none;
	font-size: 12px;
}
#footer_left_arrow
{
	float: left;
}
#footer_right_arrow
{
	float: left;
	width: 293px;
}
#footer_right
{
	width: 313px;
	font-size: 20px;
	color: #fff;
	float: left;
}
#footer_right a
{
	font-size: 12px;
	color: #FF5F00;
	text-decoration: none;
}
#footer_right_cnt
{
	width: 306px;
	font-size: 121px;
	color: #fff;
	float: left;
}
#footer_right_cnt ul
{
	padding: 10px 0px 0px 0px;
	margin: 0px;
}
#footer_right_cnt ul li
{
	font-size: 12px;
	padding-left: 10px;
	background: url(../Images/sidebar-bullet.png);
	background-repeat: no-repeat;
	background-position: left;
	list-style: none;
	line-height: 20px;
	color: #AEBDD1;
}
#footer_right_cnt ul li a
{
	text-decoration: none;
	color: #AEBDD1;
}
#footer_right_cnt ul li a:hover
{
	text-decoration: underline;
	color: #fff;
}
#about_team
{
	font-size: 20px;
	width: 313px;
	color: #fff;
	float: left;
}
#about_team_title
{
	color: #fff;
	font-size: 20px;
}
#about_team_title a
{
	color: #fff !important;
	text-decoration: none !important;
	font-size: 20px !important;
}
#about_team_title a:Hover
{
	color: #fff !important;
	text-decoration: underline !important;
	font-size: 20px;
}
#about_team a
{
	color: #FF5F00;
	text-decoration: none;
	font-size: 12px;
}
#about_team_inner_cnt
{
	font-size: 15px !important;
	padding-top: 10px;
	color: #fff;
}
#Pricing_team
{
	font-size: 20px;
	width: 293px;
	color: #fff;
	float: left;
}
#Pricing_team a
{
	font-size: 12px;
	text-decoration: none;
	color: #FF5F00;
}
#Pricing_team_inner_cnt
{
	font-size: 15px;
	padding-top: 10px;
	color: #fff;
}
#Partnership_team
{
	font-size: 20px;
	width: 294px;
	color: #fff;
	float: left;
}
#Partnership_team a
{
	font-size: 12px;
	text-decoration: none;
	color: #FF5F00;
}
#Partnership_team_inner_cnt
{
	font-size: 15px;
	height: 27px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #fff;
}
#contact_team
{
	font-size: 20px;
	width: 313px;
	color: #fff;
	float: left;
}
#contact_team_title
{
	font-size: 20px;
	color: #fff;
}
#contact_team_title a
{
	font-size: 20px !important;
	color: #fff !important;
	text-decoration: none !important;
}
#contact_team_title a:hover
{
	font-size: 20px !important;
	color: #fff !important;
	text-decoration: underline !important;
}
#contact_team a
{
	font-size: 12px; /*color:#AEBDD1;*/
	color: #FF5F00;
	text-decoration: none;
}
#contact_team_inner_cnt
{
	font-size: 15px;
	line-height: 17px;
	padding-top: 10px;
	color: #fff;
}
#contact_team_inner_cnt a
{
	color: #fff;
	text-decoration: underline;
}

#whitepaper_inner_cnt
{
	font-size: 15px;
	height: 40px;
	padding-top: 10px;
	color: #fff;
}
#whitepaper_cnt
{
	font-size: 15px;
	color: #000;
	padding-bottom: 5px;
	padding-top: 5px;
}
/* footer class start here*/


/*footer bottom class start here*/
#footer_bottom
{
	background-color: #111721;
	height: 50px;
	border-top: 1px solid #2B333E;
	width: 100%;
}
#footer_bottom_inner
{
	width: 960px;
	height: 50px;
	margin: 0 auto;
}
#footer_bottom_inner_left
{
	width: 717px;
	float: left;
}
#footer_bottom_inner_left ul
{
	padding: 0px;
	margin: 0px;
}
#footer_bottom_inner_left ul li
{
	list-style: none;
	float: left;
	padding: 26px 25px 0px 0px;
	font-weight: normal;
	color: #fff;
}
#footer_bottom_inner_left ul li.last
{
	padding-right: 0px;
}
#footer_bottom_inner_left ul li a
{
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}
#footer_bottom_inner_left ul li a:hover
{
	font-size: 14px;
	font-weight: normal;
	color: #E15807;
	text-decoration: none;
}
#footer_bottom_inner_left ul li a.active
{
	font-size: 14px;
	color: #E15807;
}
#footer_bottom_inner_right
{
	width: 243px;
	padding-top: 26px;
	color: #fff;
	font-size: 11px;
	float: left;
}
#footer_bottom_inner_right a
{
	color: #E15807;
	font-size: 11px;
	text-decoration: none;
}
#footer_bottom_inner_right span
{
	color: #AEBDD1;
	font-size: 15px;
}





/*inner page css start here*/
#inner_top_bg
{
	background-image: url(../Images/top-bg.gif); /* Header outer bg */
	background-repeat: repeat-x;
	height: 284px;
	width: 100%;
}

#top_header_outer
{
	width: 960px;
	height: 284px;
	margin: 0 auto;
}
#top_header_inner
{
	width: 960px;
	height: 183px;
}

#innerpage_content_outer
{
	background-image: url(../Images/inner_middle_bg.gif); /* Header middle bg */
	background-repeat: repeat-x;
	width: 100%;
	min-height: 450px;
}
#innerpage_content_outer_RPO
{
	background-image: url(../Images/inner_middle_bg.gif); /* Header middle bg */
	background-repeat: repeat-x;
	height: 750px;
}
#innerpage_ass_content_outer
{
	background-image: url(../Images/inner_middle_bg.gif); /* Header middle bg */
	background-repeat: repeat-x;
}
#innerpage_fea_content_outer
{
	background-image: url(../Images/inner_middle_bg.gif); /* Header middle bg */
	background-repeat: repeat-x;
	height: 1750px;
}
#innerpage_add-ons_content_outer
{
	background-image: url(../Images/inner_middle_bg.gif); /* Header middle bg */
	background-repeat: repeat-x;
	height: 1100px;
}
#innerpage_content_inside_outer
{
	width: 960px;
	margin: 0 auto;
}
#breadcrumb
{
	color: #758B8D;
	width: 960px;
	padding-top: 31px;
	font-size: 15px;
}
#breadcrumb a
{
	color: #758B8D;
	font-size: 15px;
	text-decoration: none;
}
#breadcrumb span
{
	color: #B0AFAF;
	font-size: 15px;
}
#breadcrumb span a
{
	color: #B0AFAF;
	text-decoration: none;
}
#breadcrumb span a:hover
{
	text-decoration: underline;
}
#Resource_Selection_cnt_outer
{
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
}
#Resource_Selection_cnt_inner
{
	width: 759px;
	float: left;
}
#Resource_Selection_cnt_outer a
{
	color: #E15807;
	text-decoration: underline;
}
#Resource_Selection_left
{
	width: 751px;
	float: left;
	padding-bottom: 30px;
}
#Resource_Selection_left_partners
{
	width: 960px;
	float: left;
	padding-bottom: 30px;
}
#ass_left
{
	width: 960px;
	float: left;
	padding-bottom: 30px;
}
#Rpo_left
{
	width: 960px;
	float: left;
	padding-bottom: 30px;
}
#staffing_outer
{
	width: 960px;
	float: left;
	padding-bottom: 30px;
}
#Resource_Selection_left_img
{
	width: 367px;
	float: left;
}
#Resource_Selection_right_img
{
	width: 384px;
	float: left;
}
#Resource_Selection_right
{
	width: 176px;
	padding-left: 25px;
	padding-top: 15px;
	height: 318px;
	float: left;
}
#Resource_Selection_right ul
{
	margin: 0px;
	padding: 0px;
}
#Resource_Selection_right ul li
{
	color: #758B8D;
	padding-bottom: 15px;
	list-style: none;
}
#Resource_Selection_right ul li a
{
	font-size: 18px;
	color: #000;
	text-decoration: none;
}

#Resource_Selection_right ul li a:hover
{
	text-decoration: underline;
	color: #000;
}


#title_Resource_Selection
{
	font-size: 24px;
	color: #758B8D;
	padding-top: 0px;
}
p
{
	font-size: 15px;
	padding-right: 25px;
	line-height: 18px;
	color: #000;
	text-align: justify;
}
p span
{
	font-size: 16px;
	color: #000;
}
#Resource_Selection_middle
{
	width: 8px;
	height: 380px;
	float: left;
	vertical-align: top;
	background-image: url(../Images/resourceselection_repeat_bg.png);
	background-repeat: repeat-y;
}
#Resource_Selection_middle_team
{
	width: 8px;
	height: 100%;
	float: left;
	vertical-align: top;
	background-image: url(../Images/resourceselection_repeat_bg.png);
	background-repeat: repeat;
	height: 1300px;
}
#Resource_Selection_middle
{
	width: 8px;
	height: 380px;
	float: left;
	vertical-align: top;
	background-image: url(../Images/resourceselection_repeat_bg.png);
	background-repeat: repeat-y;
}
#Resource_Selection_middle_partners
{
	width: 8px;
	height: 790px;
	float: left;
	vertical-align: top;
	background-image: url(../Images/resourceselection_repeat_bg.png);
	background-repeat: repeat-y;
}

#Resource_Selection_middle_rpo
{
	width: 8px;
	height: 680px;
	float: left;
	vertical-align: top;
	background-image: url(../Images/resourceselection_repeat_bg.png);
	background-repeat: repeat-y;
}
#Resource_Selection_fea_middle
{
	width: 8px;
	height: 1697px;
	float: left;
	vertical-align: top;
	background-image: url(../Images/resourceselection_repeat_bg.png);
	background-repeat: repeat-y;
}
#Resource_Selection_ass_middle
{
	width: 8px;
	height: 1800px;
	float: left;
	vertical-align: top;
	background-image: url(../Images/resourceselection_repeat_bg.png);
	background-repeat: repeat-y;
}
#Resource_Selection_intelliVIEW_middle
{
	width: 8px;
	height: 1000px;
	float: left;
	vertical-align: top;
	background-image: url(../Images/resourceselection_repeat_bg.png);
	background-repeat: repeat-y;
}
#Resource_Selection_middle_product
{
	width: 8px;
	height: 380px;
	float: left;
	vertical-align: top;
	background-image: url(../Images/resourceselection_repeat_bg.png);
	background-repeat: repeat-y;
}
#Resource_Selection_middle_add-ons
{
	width: 8px;
	height: 1035px;
	float: left;
	vertical-align: top;
	background-image: url(../Images/resourceselection_repeat_bg.png);
	background-repeat: repeat-y;
}

#innerpage_right_links_outer
{
	width: 251px;
}
#innerpage_right_links_outer ul
{
	margin: 0px;
	padding: 0px;
}
#innerpage_right_links_outer ul li
{
	font-size: 24px;
	color: #758B8D;
	padding-bottom: 15px;
	list-style: none;
}
#innerpage_right_links_outer ul li a
{
	font-size: 24px;
	color: #758B8D;
	text-decoration: none;
}

#innerpage_right_links_outer ul li a:hover
{
	text-decoration: underline;
	color: #EF5A02;
}
#innerpage_right_sublink
{
	width: 251px;
}
/*Features css start here */
#fea_title
{
	font-size: 15px;
	padding-top: 10px;
	border-bottom: 1px solid #DEDBDB;
	padding-bottom: 10px;
	color: #000;
}
#fea_cnt
{
	font-size: 12px;
	padding-bottom: 10px;
	color: #000;
}
#fea_img_outer
{
	width: 651px;
	text-align: center;
}
#fea_skills_outer
{
	width: 651px;
	float: left;
	padding-bottom: 10px;
}
#fea_skills_leftouter
{
	float: left;
	padding-right: 15px;
	width: 295px;
}
#fea_skills_rightouter
{
	float: left;
	height: 199px;
	width: 341px;
}
#resource_cloning_outer
{
	vertical-align: middle;
	padding-top: 60px;
}

/*Download_Brochure*/

#download_brochure_outer ul
{
	padding: 0px;
	margin: 0px;
}
#download_brochure_outer ul li
{
	background-image: url(../Images/inner_page_bullet.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-bottom: 5px;
	padding-top: 5px;
	list-style: none;
	font-size: 15px;
	color: #000;
	padding-left: 10px;
}
#download_brochure_outer ul li a
{
	color: #000;
	text-decoration: none;
}
#download_brochure_outer ul li a:hover
{
	color: #000;
	text-decoration: underline;
}

#download_brochure_outer
{
	padding-top: 10px;
}
#download_brochure_ctn
{
	padding-bottom: 5px;
	color: #000;
	padding-top: 10px;
	font-size: 15px;
}
/*twitter style start here*/
#twitter_bottom_outer
{
	background-color: #1E2632;
	width: 100%;
	height: 52px;
	border-top: 1px solid #2C333E;
}
#twitter_bottom_inner
{
	width: 960px;
	vertical-align: middle;
	font-size: 12px;
	color: #fff;
	height: 52px;
	margin: 0 auto;
}
#twitter_bottom_inner_left
{
	font-size: 11px;
	color: #fff;	
	float: left;
	padding-top: 18px;
	height: 35px;
	text-align: right;
	padding-right: 20px;
}
#twitter_bottom_inner_right
{
	height: 39px;
	padding-top: 13px;
	float: left;
	text-align: center;
}
/*twitter style end here*/


/*loging panel style start here*/


.ddpanel .ddpanelcontent
{
	/*CSS for "content" DIV of Drop Down Panel*/
	color: white;
	height: 75px;
	width: 817px;
	padding-left: 10px;
	border-left: 1px solid #495260;
	border-right: 1px solid #495260;
	border-bottom: 1px solid #495260;
	background: transparent; /*background of Drop Down Panel*/ /*Do NOT add any "padding" or "margin" properties here! Any padding/margin should be added to your content's container within this DIV instead */
}
.ddpanel .ddpaneltab a
{
	/*"toggle" tab related CSS*/
	float: left;
	color: white;
	background: url(../Images/login_btn.png);
	background-repeat: no-repeat;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 93px;
	font-size: 10px;
	font-weight: bold;
	color: #000;
	text-align: center;
	height: 38px; /*background of toggle tab*/
	text-decoration: none;
	letter-spacing: 1px;
}
.ddpaneltab_free_trail a
{
	background: url(../Images/free_trial_btn.png);
	background-repeat: no-repeat;
	width: 93px;
	float: left;
	height: 33px;
	padding-right: 5px;
}

.ddpaneltab_candidate a
{
	background: url(../Images/can_signup_btn.png);
	background-repeat: no-repeat;
	width: 141px;
	float: left;
	height: 33px;
}
#login_title
{
	font-size: 15px;
	width: 817px;
	height: 20px;
	font-weight: bold;
	color: #FF5F00;
}

#loginpadding_top
{
	padding-top: 10px;
}

#login_form_outer
{
	width: 817px;
	height: 30px;
}
#login_form_username
{
	width: 70px;
	padding-top: 5px;
	font-size: 11px;
	float: left;
}
#login_form_password
{
	width: 62px;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 11px;
	float: left;
}
#login_form_texbox
{
	width: 148px;
	float: left;
}
#login_form_texbox_inner
{
	background-color: #495260;
	border: 1px solid #373F4C;
	font-size: 11px;
	height: 18px;
	width: 139px;
	color: #fff;
}
#login_form_btn
{
	float: left;
	padding-left: 15px;
}

#error_msg
{
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	color: red;
}

.login_btn_bg
{
	background-image: url(../Images/top_go_btn.png);
	background-repeat: no-repeat;
	width: 36px;
	height: 21px;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-size: 10px;
	color: #000;
	margin: 0px;
	padding: 0px;
}
#login_btn_outer
{
	width: 350px;
	height: 29px;
	padding-left: 600px;
	clear: right;
}
/*loging panel style end here*/

/*screen short css start here*/
#outer_screenshort
{
	width: 751px;
}
#skils_screenshort
{
	width: 751px;
}
#Choice_of_Views
{
	background-image: url(../Images/Choice_of_Views.png);
	background-repeat: no-repeat;
	width: 367px;
	color: #8C8A8A;
	float: left;
	height: 358px;
}
#Choice_of_Views_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 312px;
	padding-top: 42px;
	padding-left: 45px;
}
#Choice_of_Views_cnt
{
	color: #000;
	width: 300px;
	text-align: justify;
	padding-left: 45px;
	padding-top: 5px;
	font-size: 15px;
	line-height: 18px;
}


#Innovative_UI
{
	background-image: url(../Images/Innovative_UI.png);
	background-repeat: no-repeat;
	width: 384px;
	color: #8C8A8A;
	float: left;
	height: 376px;
}
#Innovative_UI_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 347px;
	padding-top: 30px;
	padding-left: 10px;
}
#Innovative_UI_cnt
{
	color: #000;
	width: 347px;
	padding-top: 5px;
	text-align: justify;
	padding-left: 10px;
	font-size: 15px;
	line-height: 18px;
}

#Weight_based_search
{
	background-image: url(../Images/Weight_based_search.png);
	background-repeat: no-repeat;
	width: 687px;
	float: left;
	color: #8C8A8A;
	height: 360px;
}
#Weight_based_search_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 317px;
	padding-top: 22px;
	padding-left: 40px;
}
#Weight_based_search_cnt
{
	color: #000;
	width: 317px;
	padding-left: 40px;
	padding-top: 5px;
	font-size: 15px;
	line-height: 18px;
}

#Weight_based_search_cnt_bottom
{
	color: #000;
	width: 317px;
	padding-left: 40px;
	padding-top: 250px;
	font-size: 15px;
	line-height: 18px;
}

#Precision_search
{
	background-image: url(../Images/Precision.png);
	background-repeat: no-repeat;
	width: 384px;
	color: #8C8A8A;
	float: left;
	height: 262px;
}
#Precision_search_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 297px;
	padding-top: 20px;
	padding-left: 60px;
}
#Precision_search_cnt
{
	color: #000;
	width: 287px;
	padding-top: 5px;
	padding-left: 60px;
	font-size: 12px;
	line-height: 18px;
}
#Talent_search
{
	background-image: url(../Images/Talent_search.png);
	background-repeat: no-repeat;
	width: 750px;
	float: left;
	color: #8C8A8A;
	height: 200px;
}
#Talent_search_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 336px;
	padding-top: 7px;
	padding-left: 10px;
}
#Talent_search_cnt
{
	color: #000;
	width: 475px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 12px;
	line-height: 18px;
}

#Integrated_Search_cnt
{
	color: #000;
	width: 600px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 15px;
	line-height: 18px;
}
#Skills_and_Recency
{
	background-image: url(../Images/Skills_and_Recency.png);
	background-repeat: no-repeat;
	width: 343px;
	float: left;
	height: 330px;
	color: #8C8A8A;
}
#Skills_and_Recency_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 337px;
	padding-top: 20px;
	padding-left: 20px;
}
#Skills_and_Recency_cnt
{
	color: #000;
	width: 317px;
	padding-top: 5px;
	text-align: justify;
	padding-left: 20px;
	font-size: 15px;
	line-height: 18px;
}

#Resource_Cloning
{
	background-image: url(../Images/Resource_Cloning.png);
	background-repeat: no-repeat;
	width: 407px;
	color: #8C8A8A;
	float: left;
	height: 329px;
}
#Resource_Cloning_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 277px;
	padding-top: 30px;
	padding-left: 60px;
}
#Resource_Cloning_cnt
{
	color: #000;
	width: 312px;
	padding-top: 5px;
	text-align: justify;
	padding-left: 60px;
	font-size: 15px;
	line-height: 18px;
}



#Detailed_Summary
{
	background-image: url(../Images/Detailed_Summary.png);
	background-repeat: no-repeat;
	width: 331px;
	clear: both;
	color: #000;
	height: 297px;
}
#Detailed_Summary_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 322px;
	padding-top: 33px;
	padding-left: 40px;
}
#Detailed_Summary_cnt
{
	color: #000;
	width: 317px;
	padding-left: 40px;
	padding-top: 5px;
	font-size: 15px;
	line-height: 16px;
}

#Client_Management
{
	background-image: url(../Images/Client_Management.png);
	background-repeat: no-repeat;
	width: 367px;
	float: left;
	height: 256px;
}
#Client_Management_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 327px;
	padding-top: 20px;
	padding-left: 30px;
}
#Client_Management_cnt
{
	color: #000;
	width: 327px;
	padding-top: 5px;
	padding-left: 30px;
	font-size: 15px;
	line-height: 16px;
}


#Nomenclature_Customization
{
	background-image: url(../Images/Nomenclature_Customization.png);
	background-repeat: no-repeat;
	width: 384px;
	float: left;
	height: 256px;
}
#Nomenclature_Customization_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 362px;
	padding-top: 16px;
	padding-left: 6px;
}
#Nomenclature_Customization_cnt
{
	color: #000;
	width: 362px;
	padding-top: 5px;
	padding-left: 6px;
	font-size: 15px;
	line-height: 16px;
}

#Position_profile
{
	background-image: url(../Images/Position_profile.png);
	background-repeat: no-repeat;
	width: 367px;
	float: left;
	height: 400px;
}
#Position_profile_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 307px;
	padding-top: 23px;
	padding-left: 45px;
}
#Position_profile_cnt
{
	color: #000;
	width: 307px;
	padding-left: 45px;
	padding-top: 5px;
	font-size: 15px;
	text-align: justify;
	line-height: 16px;
}

#Collaborative_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 332px;
	padding-top: 19px;
	padding-left: 20px;
}
#Collaborative_cnt
{
	color: #000;
	width: 332px;
	padding-left: 20px;
	padding-top: 5px;
	font-size: 15px;
	line-height: 16px;
}



#Activity_Log
{
	background-image: url(../Images/Activity_Log.png);
	background-repeat: no-repeat;
	width: 384px;
	float: left;
	height: 400px;
}
#Activity_Log_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 361px;
	padding-top: 22px;
	padding-left: 10px;
}
#Activity_Log_cnt
{
	color: #000;
	width: 361px;
	padding-top: 5px;
	text-align: justify;
	padding-left: 10px;
	font-size: 15px;
	line-height: 18px;
}
#Skills_Dissection_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 369px;
	padding-top: 22px;
	padding-left: 18px;
}
#Skills_Dissection_cnt
{
	color: #000;
	width: 369px;
	padding-top: 5px;
	padding-left: 18px;
	font-size: 15px;
	line-height: 18px;
}

#Resume_Uploader
{
	background-image: url(../Images/Resume_Uploader.png);
	background-repeat: no-repeat;
	width: 759px;
	float: left;
	height: 230px;
}
#Resume_Uploader_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 714px;
	padding-top: 15px;
	padding-left: 45px;
}
#Resume_Uploader_cnt
{
	color: #000;
	width: 714px;
	padding-top: 5px;
	padding-left: 45px;
	font-size: 15px;
	line-height: 18px;
}
/*screen short css end here*/


/*sign css start here*/


#sign_outer
{
	width: 960px;
	padding-bottom: 30px;
}
#sign_inner
{
	width: 960px;
	padding-bottom: 30px;
	height: 450px;
}
#sing_left
{
	width: 266px;
	margin-right: 20px;
	float: left;
	color: #000;
	font-size: 15px;
	height: 345px;
	border-right: 1px dotted #CECCCC;
}
#sing_left ul
{
	margin: 0px;
	padding: 0px;
}
#sing_left ul li
{
	list-style: none;
	font-size: 15px;
	line-height: 18px;
	padding-bottom: 2px;
	color: #000;
}
#sing_left_btn
{
	width: 266px;
	padding-top: 5px;
	text-align: left;
}
#sing_left_btn a
{
	color: #3D8CB3;
	text-decoration: none;
}
#sing_left_btn a:hover
{
	color: #3D8CB3;
	text-decoration: underline;
}
#sign_middle_btn
{
	width: 286px;
	padding-top: 5px;
}
#sign_middle
{
	width: 286px;
	font-size: 15px;
	color: #000;
	float: left;
	height: 345px;
	border-right: 1px dotted #CECCCC;
}
#sign_middle ul
{
	margin: 0px;
	padding: 0px;
}
#sign_middle a
{
	color: #3D8CB3;
	text-decoration: none;
}
#sign_middle a:hover
{
	color: #3D8CB3;
	text-decoration: underline;
}
#sign_middle ul li
{
	list-style: none;
	font-size: 15px;
	line-height: 18px;
	padding-bottom: 2px;
	color: #000;
}
#sign_form_outer
{
	width: 360px;
	height: 400px;
	margin-left: 20px;
	float: left;
}
#sing_left_title
{
	font-size: 17px;
	width: 246px;
	color: #000;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #CECCCC;
}
#sing_left_user_01
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_01.png);
	background-repeat: no-repeat;
}
#sing_left_user_02
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_02.png);
	background-repeat: no-repeat;
}
#sing_left_user_03
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_03.png);
	background-repeat: no-repeat;
}
#sing_left_user_04
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_04.png);
	background-repeat: no-repeat;
}
#sing_left_user_05
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_05.png);
	background-repeat: no-repeat;
}
#sing_left_user_06
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_06.png);
	background-repeat: no-repeat;
}
#sing_left_user_07
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_07.png);
	background-repeat: no-repeat;
}
#sing_left_user_08
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_08.png);
	background-repeat: no-repeat;
}
#sing_left_user_09
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_09.png);
	background-repeat: no-repeat;
}
#sing_left_user_10
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_10.png);
	background-repeat: no-repeat;
}
#sing_left_user_11
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_11.png);
	background-repeat: no-repeat;
}
#sing_left_user_12
{
	font-size: 15px;
	color: #000;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(../Images/icon_sign_12.png);
	background-repeat: no-repeat;
}
#sing_left_user_title
{
	font-size: 15px;
	color: #2681b1;
	padding-bottom: 10px;
	font-weight: bold;
}

#sing_middle_title
{
	font-size: 17px;
	color: #000;
	width: 266px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #CECCCC;
}
#sing_form_title
{
	font-size: 17px;
	width: 286px;
	color: #000;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 20px;
	border-bottom: 1px dotted #CECCCC;
}
#form_outer
{
	width: 360px;
}
#form_container
{
	width: 360px;
	padding-top: 10px;
}
#form_container_left
{
	width: 135px;
	padding-top: 10px;
	font-size: 14px;
	color: #000;
	float: left;
}
#form_container_right
{
	width: 225px;
	float: left;
}

#form_container_top
{
	float: left;
	padding-top: 10px;
}
.text_box
{
	width: 150px;
	font-size: 12px;
	color: #4B4B4B;
	margin-bottom: 8px;
	padding: 4px;
	border: 1px solid #CBCBCB;
	background-image: url(../Images/form_texbox_bg.jpg);
	background-repeat: repeat-x;
	height: 17px;
}
.contact_text_box
{
	width: 192px;
	font-size: 12px;
	color: #4B4B4B;
	margin-bottom: 8px;
	padding: 4px;
	border: 1px solid #CBCBCB;
	background-image: url(../Images/form_texbox_bg.jpg);
	background-repeat: repeat-x;
	height: 17px;
}
.text_box_width
{
	width: 314px;
	font-size: 12px;
	color: #4B4B4B;
	margin-bottom: 8px;
	padding: 4px;
	border: 1px solid #CBCBCB;
	background-image: url(../Images/form_texbox_bg.jpg);
	background-repeat: repeat-x;
	height: 17px;
}
#form_btn
{
	background-color: transparent;
	background-image: url(../Images/form_btn.png);
	background-repeat: no-repeat;
	width: 112px;
	margin-bottom: 5px;
	border: 0px;
	cursor: pointer;
	height: 32px;
}
#form_txt
{
	font-size: 14px;
	line-height: 16px;
	color: #000;
	float: left;
}
#form_txt a
{
	color: #3D8CB3;
	text-decoration: underline;
}
#btn_outer
{
	text-align: left;
	padding-left: 165px;
	padding-top: 5px;
}


.submit_btn
{
	background-image: url(../Images/btn_submit.png);
	background-repeat: no-repeat;
	width: 112px;
	height: 32px;
}


.contact_btn_submit
{
	background-image: url(../Images/contactus_btn_submit.png);
	background-repeat: no-repeat;
	width: 78px;
	height: 24px;
}

.btn_clear
{
	background-image: url(../Images/contactus_btn_clear.png);
	background-repeat: no-repeat;
	width: 78px;
	height: 24px;
}


.dropdown_list
{
	width: 202px;
	font-size: 12px;
	color: #4B4B4B;
	margin-bottom: 8px;
	padding: 4px;
	border: 1px solid #CBCBCB;
	background-image: url(../Images/form_texbox_bg.jpg);
	background-repeat: repeat-x;
	height: 25px;
}

/*sign css end here*/




/* ass tab css start here*/

#tab_outer
{
	width: 265px;
	padding-left: 470px;
	border-bottom: 1px dotted #CBCBCD;
}
#ass_tab_outer
{
	width: 280px;
	padding-left: 670px;
	border-bottom: 1px dotted #CBCBCD;
}
#tab_inner
{
	background-image: url(../Images/services_submenu_bg.png);
	background-repeat: no-repeat;
	background-position: right;
	width: 265px;
	height: 29px;
}
#tab_inner a
{
	color: #000;
	text-decoration: none;
}
#tab_intelliTEST_btn
{
	font-size: 15px;
	padding: 8px 0px 0px 0px;
	width: 143px;
	height: 21px;
	color: #A9ADAD;
	text-align: center;
	float: left;
	font-weight: bold;
}
#tab_intelliTEST_btn span
{
	color: #EB9C63;
	font-size: 15px;
	font-weight: bold;
}
#tab_intelliVIEW_btn
{
	font-size: 15px;
	padding: 8px 0px 0px 17px;
	float: left;
	height: 21px;
	color: #A9ADAD;
	text-align: left;
	width: 105px;
	font-weight: bold;
}
#tab_intelliVIEW_btn span
{
	color: #EB9C63;
	font-size: 15px;
}
#tab_inner_intelliTEST
{
	background-image: url(../Images/services_intelliTEST_active.png);
	background-repeat: no-repeat;
	background-position: right;
	width: 265px;
	height: 29px;
}
#tab_inner_intelliTEST a
{
	color: #000;
	text-decoration: none;
}

#tab_inner_intelliVIEW
{
	background-image: url(../Images/services_intelliVIEW_active.png);
	background-repeat: no-repeat;
	background-position: right;
	width: 265px;
	height: 29px;
}

#tab_inner_intelliVIEW a
{
	color: #000;
	text-decoration: none;
}


/* contact us page*/
#contact_outer
{
	width: 960px;
	height: 310px;
	padding-bottom: 30px;
}
#contact_left
{
	width: 200px;
	float: left;
	border-right: 1px solid #fff;
	padding-bottom: 30px;
}
#contact_right
{
	width: 728px;
	padding-left: 30px;
	float: left;
	border-left: 1px solid #CCCCCC;
	padding-bottom: 30px;
}
#contact_right_inner
{
	width: 930px;
	float: left;
	padding-top: 10px;
	text-align: left;
}
#contact_form_inner
{
	width: 710px;
	color: #000 !important;
	padding-left: 15px;
	float: left;
}

#whitepaper_right
{
	width: 760px;
	float: left;
	padding-bottom: 30px;
}
#textbox_outer
{
	width: 220px;
	float: left;
}
#contact_form_table
{
	width: 920px;
	float: left;
	text-align: left;
}

#contact_form_table01
{
	padding-left: 3px;
	float: right;
	text-align: left;
}
.contact_right_inner_text
{
	font-size: 15px;
	float: left;
	width: 120px;
	padding-top: 4px;
	color: #000;
}
.contact_right_inner_text span
{
	color: #EF5A02;
}
#contact_right_inner_textbox
{
	font-size: 15px;
	float: left;
	width: 360px;
	font-weight: bold;
	color: #000;
}
#contact_option_box
{
	width: 202px;
	font-size: 12px;
	color: #4B4B4B;
	margin-bottom: 8px;
	padding: 4px;
	border: 1px solid #CBCBCB;
	background-image: url(../Images/form_texbox_bg.jpg);
	background-repeat: repeat-x;
	height: 26px;
}
#contact_btn_outer
{
	width: 320px;
	text-align: right;
}
#contact_outer_cnt
{
	padding-top: 10px;
	width: 330px;
	padding-left: 3px;
	font-size: 15px;
	color: #000;
	line-height: 20px;
}
#contact_form_outer
{
	font-size: 15px;
	padding-top: 5px;
	color: #000;
	padding-bottom: 5px;
	line-height: 16px;
}

/* contact us page end here */

/*Whitepaper*/
#whitepaper_outer
{
	width: 960px;
	height: 200px;
	padding-bottom: 30px;
}
#Whitepaper_title
{
	font-size: 15px;
	color: #000;
	padding-top: 5px;
}
#Whitepaper_title span
{
	padding-top: 2px;
}
#Whitepaper_title a
{
	color: #000;
	text-decoration: none;
}
#Whitepaper_title a:hover
{
	text-decoration: underline;
}

#Requiredfiled
{
	font-size: 12px;
	padding-left: 5px;
	width: 665px;
	text-align: left;
	color: #000;
	padding-bottom: 10px;
}
#Requiredfiled span
{
	color: #EF5A02;
	font-size: 15px;
}
/* sign in page css start here*/

#sign_up_band_bg
{
	background-image: url(../Images/sign_up_header.png);
	background-repeat: no-repeat;
	width: 960px;
	height: 170px;
}
#title_sign_up
{
	font-size: 25px;
	padding-left: 10px;
	padding-top: 100px;
	font-weight: bold;
	color: #fff;
}
#select_plan
{
	width: 960px;
	float: left;
}
#select_plan ul
{
	margin: 0px;
	padding: 0px;
}
#select_plan ul li
{
	float: left;
	padding-right: 5px;
	list-style: none;
	font-size: 19px;
	color: #2A3239;
}
/* sign in page css end here*/


/* price css start here*/
#price_outer
{
	width: 940px;
	padding: 0px 10px 0px 10px;
	height: 270px;
}
#price_outer_left
{
	width: 309px;
	padding-top: 10px;
	float: left;
	height: 231px;
	background-image: url(../Images/price_left_bg.png);
	background-repeat: no-repeat;
}
#price_outer_left_title
{
	font-size: 22px;
	margin-left: 10px;
	width: 260px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #D7D7D7;
	color: #245A7C;
}
#price_outer_left_cnt
{
	font-size: 15px;
	padding-left: 20px;
	padding-top: 20px;
	color: #494848;
}
#price_outer_left_title span
{
	font-size: 15px;
	display: block;
	padding-top: 5px;
	color: #000;
	font-weight: bold;
}
#price_outer_center
{
	width: 321px;
	background-image: url(../Images/price_middle_bg.png);
	background-repeat: no-repeat;
	float: left;
	height: 240px;
}
#price_outer_center_title
{
	font-size: 22px;
	margin-left: 10px;
	width: 150px;
	padding-left: 10px;
	padding-bottom: 5px;
	color: #245A7C;
}
#price_outer_center_title span
{
	font-size: 15px;
	display: block;
	padding-top: 5px;
	color: #000;
	font-weight: bold;
}
#price_outer_center_inner
{
	width: 321px;
	height: 100px;
	padding-top: 10px;
}
#price_outer_center_inner_left
{
	width: 140px;
	float: left;
}
#price_outer_center_inner_right
{
	width: 130px;
	float: left;
}
#price_outer_center_cnt
{
	font-size: 15px;
	padding-left: 20px;
	color: #494848;
}
#price_outer_right
{
	width: 309px;
	float: left;
	height: 240px;
	padding-top: 10px;
	background-image: url(../Images/price_right_bg.png);
	background-repeat: no-repeat;
}
#price_outer_right_title
{
	font-size: 15px;
	margin-left: 20px;
	width: 250px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #D7D7D7;
	color: #245A7C;
}
#price_outer_right_cnt
{
	font-size: 12px;
	padding-left: 20px;
	padding-top: 20px;
	color: #494848;
}
#price_outer_right span
{
	font-size: 12px;
	display: block;
	padding-top: 5px;
	color: #4F4D4D;
}
#price_outer_right_btn
{
	padding-left: 30px;
	padding-top: 20px;
	width: 249px;
}
#price_outer_center_btn
{
	padding-left: 30px;
	padding-top: 20px;
	width: 249px;
}
#enterprise_btn_outer
{
	padding-left: 30px;
	padding-top: 67px;
	width: 249px;
}

#help_cnt
{
	font-size: 15px;
	color: #000;
	float: left;
}

/* price css end here*/

#Automated_Test
{
	background-image: url(../Images/Automated_Test_Generation.png);
	background-repeat: no-repeat;
	width: 367px;
	float: left;
	height: 206px;
}
#Automated_Test_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 327px;
	padding-top: 20px;
	padding-left: 30px;
}
#Automated_Test_cnt
{
	color: #000;
	width: 327px;
	padding-top: 5px;
	padding-left: 30px;
	font-size: 15px;
	line-height: 16px;
}

#Flexibility_in_Content_Uploads
{
	background-image: url(../Images/Flexibility_in_Content_Uplo.png);
	background-repeat: no-repeat;
	width: 384px;
	float: left;
	height: 206px;
}
#Flexibility_in_Content_Uploads_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 362px;
	padding-top: 11px;
	padding-left: 13px;
}
#Flexibility_in_Content_Uploads_cnt
{
	color: #000;
	width: 362px;
	padding-top: 5px;
	padding-left: 13px;
	font-size: 15px;
	line-height: 16px;
}

#Question_summary
{
	background-image: url(../Images/Question_summary.png);
	background-repeat: no-repeat;
	width: 367px;
	float: left;
	height: 330px;
}
#Question_summary_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 327px;
	padding-top: 20px;
	padding-left: 35px;
}
#Question_summary_cnt
{
	color: #000;
	width: 327px;
	padding-left: 35px;
	padding-top: 5px;
	font-size: 15px;
	line-height: 16px;
}



#Test_segments
{
	background-image: url(../Images/Test_segments.png);
	background-repeat: no-repeat;
	width: 384px;
	float: left;
	height: 330px;
}
#Test_segments_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 374px;
	padding-top: 16px;
	padding-left: 10px;
}
#Test_segments_cnt
{
	color: #000;
	width: 314px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 15px;
	line-height: 18px;
}


#reporting_features
{
	background-image: url(../Images/reporting_features.png);
	background-repeat: no-repeat;
	width: 711px;
	margin-top: 20px;
	float: left;
	height: 671px;
}
#reporting_features_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 711px;
	padding-top: 0px;
	padding-left: 40px;
}
#reporting_features_cnt
{
	color: #000;
	width: 711px;
	padding-top: 5px;
	padding-left: 40px;
	font-size: 15px;
	line-height: 16px;
}








#test_session
{
	background-image: url(../Images/test_session.png);
	background-repeat: no-repeat;
	width: 367px;
	float: left;
	height: 400px;
}
#test_session_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 302px;
	padding-top: 26px;
	padding-left: 45px;
}
#test_session_cnt
{
	color: #000;
	width: 327px;
	padding-left: 35px;
	padding-top: 5px;
	font-size: 15px;
	line-height: 16px;
}



#certification
{
	background-image: url(../Images/certification.png);
	background-repeat: no-repeat;
	width: 384px;
	float: left;
	height: 400px;
}
#certification_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 374px;
	padding-top: 16px;
	padding-left: 7px;
}
#certification_cnt
{
	color: #000;
	width: 314px;
	padding-top: 5px;
	padding-left: 7px;
	font-size: 15px;
	text-align: justify;
	line-height: 16px;
}




#Adaptive_Test_Authoring
{
	background-image: url(../Images/Adaptive_Test_Authoring.png);
	background-repeat: no-repeat;
	width: 751px;
	float: left;
	height: 270px;
}
#Adaptive_Test_Authoring_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 379px;
	padding-top: 10px;
	padding-left: 25px;
}
#Adaptive_Test_Authoring_cnt
{
	color: #000;
	width: 445px;
	padding-top: 5px;
	padding-left: 25px;
	font-size: 15px;
	line-height: 16px;
}


#Summary_of_Objectives
{
	background-image: url(../Images/Summary_of_Objectives.png);
	background-repeat: no-repeat;
	width: 751px;
	float: left;
	height: 470px;
}
#Summary_of_Objectives_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 349px;
	padding-top: 8px;
	padding-left: 35px;
}
#Summary_of_Objectives_cnt
{
	color: #000;
	width: 685px;
	padding-top: 5px;
	padding-left: 35px;
	font-size: 15px;
	line-height: 16px;
}
#Pricing_cnt
{
	font-size: 15px;
	padding: 10px;
	line-height: 18px;
	color: #000;
}

#agree_cnt
{
	font-size: 15px;
	margin: 10px;
	width: 100%;
	line-height: 18px;
	height: 100px;
	color: #000;
}

#agree_cnt h3
{
	font-size: 18px;
	width: 100%;
	color: #000;
}

/** PARTNERSHIP  **/

#cnt_left_outer_part
{
	width: 100%;
	float: left;
}

#cnt_left_outer_title_part_01
{
	padding-bottom: 5px;
	font-size: 17px;
	color: #758B8D;
	font-weight: bold;
	padding-top: 50px;
	float: left;
}
#cnt_left_outer_title_part
{
	padding-bottom: 5px;
	font-size: 17px;
	color: #758B8D;
	font-weight: bold;
}
#cnt_left_outer_title_part a
{
	color: #758B8D;
	cursor: pointer;
	text-decoration: none;
}

#resource_cnt_part
{
	width: 450px;
	padding-top: 9px;
	line-height: 18px;
	text-align: left;
	text-align: justify;
	font-size: 15px;
	color: #000;
	float: left;
}

#resource_cnt_fullwidth
{
	width: 100%;
	height: 160px;
	padding-top: 9px;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	color: #000;
	float: left;
}


#resource_left_icon_part
{
	padding: 10px 20px 10px 10px;
	float: left;
}
#resource_cnt span_part
{
	font-size: 15px;
	color: #000;
}



/** team  **/

#cnt_left_outer_team
{
	width: 100%;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: justify;
}
#cnt_left_outer_title_team
{
	padding-bottom: 5px;
	font-size: 17px;
	color: #758B8D;
	font-weight: bold;
}
#cnt_left_outer_title_team a
{
	color: #758B8D;
	cursor: pointer;
	text-decoration: none;
}

#resource_cnt_team
{
	width: 100%;
	padding-top: 9px;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	color: #000;
	float: left;
}

#resource_cnt_fullwidth_team
{
	width: 100%;
	padding-top: 9px;
	line-height: 18px;
	text-align: left;
	font-size: 15px;
	color: #000;
	float: left;
}


#resource_left_icon_team
{
	padding: 0px 20px 40px 0px;
	float: left;
}
#resource_cnt span_team
{
	font-size: 15px;
	color: #000;
}


#pricing_bottom
{
	width: 960px;
	margin: 0 auto;
	padding-bottom: 30px;
}
#pricing_bottom_outer
{
	width: 959px;
	border: 1px solid #e7eff5;
	padding-bottom: 30px;
}
#pricing_headign
{
	width: 186px;
	background-color: #2B96CE;
	font-size: 15px;
	height: 50px;
	color: #fff;
	border-right: 1px solid #e7eff5;
	border-bottom: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Feature
{
	width: 184px;
	background-color: #2B96CE;
	font-size: 15px;
	height: 40px;
	padding: 5px 0px 5px 5px;
	color: #fff;
	border-right: 1px solid #e7eff5;
	border-bottom: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Professional
{
	width: 184px;
	font-size: 15px;
	padding: 5px 0px 5px 5px;
	border-right: 1px solid #e7eff5;
	background-color: #2B96CE;
	border-bottom: 1px solid #e7eff5;
	color: #fff;
	height: 40px;
	float: left;
}
#pricing_title_Business
{
	width: 184px;
	height: 40px;
	border-bottom: 1px solid #e7eff5;
	border-right: 1px solid #e7eff5;
	padding: 5px 0px 5px 5px;
	font-size: 15px;
	background-color: #2B96CE;
	color: #fff;
	float: left;
}
#pricing_title_enterprise
{
	width: 186px;
	height: 40px;
	border-bottom: 1px solid #e7eff5;
	border-right: 1px solid #e7eff5;
	padding: 5px 0px 5px 5px;
	font-size: 15px;
	background-color: #2B96CE;
	color: #fff;
	float: left;
}
#pricing_title_comments
{
	width: 154px;
	height: 40px;
	border-bottom: 1px solid #e7eff5;
	padding: 5px 0px 5px 5px;
	font-size: 15px;
	background-color: #2B96CE;
	color: #fff;
	float: left;
}
#pricing_title_empty
{
	width: 186px;
	background-color: #fff;
	font-size: 15px;
	height: 40px;
	border-bottom: 1px solid #fff;
	color: #fff;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_comments_cnt
{
	width: 154px;
	height: 30px;
	border-bottom: 1px solid #e7eff5;
	padding: 5px 0px 5px 5px;
	font-size: 15px;
	background-color: #fff;
	color: #000;
	float: left;
}
#pricing_inner_cnt
{
	width: 959px;
}

#pricing_inner_cnt_padding
{
	height: 30px;
	float: left;
}
#pricing_title_Feature_cnt
{
	width: 181px;
	border-bottom: 1px solid #fff;
	background-color: #83CCF2;
	font-size: 15px;
	height: 30px;
	padding: 5px 0px 5px 5px;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_intelliSPOT
{
	width: 181px;
	background-color: #B0E2FD;
	font-size: 15px;
	height: 30px;
	padding: 5px 0px 5px 5px;
	border-bottom: 1px solid #fff;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}

#pricing_title_sub_cnt
{
	width: 184px;
	background-color: #fff;
	border-bottom: 1px solid #e7eff5;
	font-size: 15px;
	padding: 5px 0px 5px 5px;
	color: #000;
	height: 30px;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Standard_cnt
{
	width: 184px;
	font-size: 15px;
	border-bottom: 1px solid #e7eff5;
	padding: 5px 0px 5px 5px;
	border-right: 1px solid #e7eff5;
	background-color: #fff;
	color: #000;
	height: 30px;
	float: left;
}
#pricing_title_Enterprise_cnt
{
	width: 185px;
	height: 30px;
	padding: 5px 0px 5px 5px;
	border-bottom: 1px solid #e7eff5;
	font-size: 15px;
	border-right: 1px solid #e7eff5;
	background-color: #fff;
	color: #000;
	float: left;
}
#pricing_title_Enterprise_cnt span
{
	font-size: 20px;
}
#pricing_title_Enterprise_cnt a
{
	color: #E82A1A;
	text-decoration: none;
	font-weight: bold;
}
#pricing_title_Desktop_product
{
	width: 233px;
	background-color: #97CFC7;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Desktop_Assessment
{
	width: 233px;
	background-color: #D0B7E8;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Desktop_Admin
{
	width: 233px;
	background-color: #A1EAFF;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Desktop_support
{
	width: 233px;
	background-color: #E0E0E0;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Desktop_Branding
{
	width: 233px;
	background-color: #F7E7C6;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Desktop_Branding
{
	width: 233px;
	background-color: #F7E7C6;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Desktop_Branding
{
	width: 233px;
	background-color: #F7E7C6;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Desktop_Branding
{
	width: 233px;
	background-color: #F7E7C6;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Access
{
	width: 233px;
	background-color: #A69C9C;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_client
{
	width: 233px;
	background-color: #DDDFC0;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Cyber_Proctor
{
	width: 233px;
	background-color: #EDDACF;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}
#pricing_title_Cyber_Reports
{
	width: 233px;
	background-color: #D6EFEB;
	font-size: 15px;
	height: 20px;
	padding: 5px 0px 0px 5px;
	border-bottom: 1px solid #e7eff5;
	color: #000;
	border-right: 1px solid #e7eff5;
	float: left;
}

/*get in touch popup css start here*/
#popup_textbox_outer
{
	width: 160px;
	float: left;
	padding-right: 5px;
	color: #000;
}
#popupname_text_box
{
	width: 140px;
	font-size: 12px;
	color: #4B4B4B;
	margin-bottom: 8px;
	padding: 4px;
	border: 1px solid #CBCBCB;
	background-image: url(../Images/form_texbox_bg.jpg);
	background-repeat: repeat-x;
	height: 17px;
}
#popup_text_box
{
	width: 300px;
	font-size: 12px;
	color: #4B4B4B;
	margin-bottom: 8px;
	padding: 4px;
	border: 1px solid #CBCBCB;
	background-image: url(../Images/form_texbox_bg.jpg);
	background-repeat: repeat-x;
	height: 17px;
}
#popup_contact_option_box
{
	width: 310px;
	font-size: 12px;
	color: #4B4B4B;
	margin-bottom: 8px;
	padding: 4px;
	border: 1px solid #CBCBCB;
	background-image: url(../Images/form_texbox_bg.jpg);
	background-repeat: repeat-x;
	height: 26px;
}
.popup_inner_txt
{
	font-size: 15px;
	float: left;
	width: 150px;
	padding-top: 4px;
	color: #000 !important;
}
.popup_inner_txt span
{
	color: #EF5A02;
}
#popup_inner_txt
{
	font-size: 15px;
	float: left;
	width: 150px;
	padding-top: 4px;
	color: #000 !important;
}
#popup_inner_txt span
{
	color: #EF5A02;
}
#popup_outer
{
	margin: auto;
	width: 100%;
}
#popup_text_area
{
	width: 300px;
	font-size: 12px;
	color: #4B4B4B;
	margin-bottom: 8px;
	padding: 4px;
	border: 1px solid #CBCBCB;
	background-color: #fff;
	background-image: url(../Images/text_area_bg.png);
	background-repeat: repeat-x;
	height: 102px;
}
#popup_title_outer
{
	width: 500px;
	padding: 10px;
}
#popup_title_left
{
	width: 40px;
	float: left;
}
#popup_title_right
{
	width: 460px;
	padding-bottom: 20px;
	font-size: 19px;
	color: #000;
	float: left;
}
#popup_cnt
{
	font-size: 12px;
	width: 320px;
	padding-top: 15px;
	padding-left: 165px;
	text-align: left;
	color: #000;
}
#popup_cnt span
{
	text-align: left;
}
#Vendor_cnt
{
	padding-top: 30px;
}

#iv_feature
{
	background-image: url(../Images/reporting_features.png);
	background-repeat: no-repeat;
	width: 751px;
	float: left;
	height: 689px;
}

#iv_feature_cont
{
	color: #000;
	padding-top: 5px;
	padding-left: 35px;
	padding-right: 45px;
	font-size: 15px;
	line-height: 16px;
	text-align: justify;
}

#iv_feature_cont_title
{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 379px;
	padding-top: 10px;
	padding-left: 35px;
}


#tooltip
{
	position: absolute;
	border: 1px solid #333;
	background: red;
	padding: 2px 5px;
	color: #333;
	display: none;
}

#pricing_legend
{
	width: 960px;
	margin: 0 auto;
	padding-bottom: 10px;
	float: left;
}




#what_free_trail
{
	width: 266px;
	padding-top: 10px;
	text-align: left;
}
#get_in_touch_Requiredfiled
{
	font-size: 12px;
	float: left;
	width: 120px;
	padding-left: 5px;
	text-align: left;
	color: #000;
}
#get_in_touch_Requiredfiled span
{
	color: #EF5A02;
	font-size: 15px;
}

#sign_Requiredfiled
{
	font-size: 12px;
	float: left;
	width: 135px;
	text-align: left;
	color: #000;
}
#sign_Requiredfiled span
{
	color: #EF5A02;
	font-size: 15px;
}

/* -- Feature and pricing tooltip popup style starts --*/


div.htmltooltip
{
	position: absolute; /*leave this and next 3 values alone*/
	z-index: 1000;
	left: -1000px;
	top: -1000px;
	background: #66A31C;
	border: 10px solid #66A31C;
	color: white;
	padding: 3px;
	width: 150px; /*width of tooltip*/
	font-size: 16px;
	cursor: pointer;
}

.balloonstyle
{
	position: absolute;
	top: -500px;
	left: 0;
	padding: 5px;
	color: #FFFFFF;
	visibility: hidden;
	border: 1px solid #66A31C;
	font: normal 12px Verdana;
	line-height: 18px;
	z-index: 100;
	background-color: #66A31C;
	width: 200px; /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5);
}

#arrowhead
{
	z-index: 99;
	position: absolute;
	top: -500px;
	left: 0;
	visibility: hidden;
}

/* -- Feature and pricing tooltip popup style ends --*/

.error_msg_site
{
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	color: Red;
	text-align: left;
}

.success_msg_site
{
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	color: Green;
	text-align: left;
}

.continue_btn
{
	background-image: url(../Images/form_btn.png);
	width: 112px;
	height: 32px;
	background-repeat: no-repeat;
}



#textbox_outer_error_msg
{
	width: 203px;
	float: left;
	color: Red;
}

.error_msg_validation
{
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	color: red;
}
.iframe_video_txt
{
	font-size: 11px;
	font-weight: bold;
	padding-right: 5px;
	background-color: #e2e2e2;
	width: 555px;
	color: #000;
}



#marqueecontainer
{
	position: relative;
	width: 250px; /*marquee width */
	height: 30px; /*marquee height */
	overflow: hidden;
	padding: 2px;
	padding-left: 4px;
}

.video_icon_link
{
	background-image: url(../Images/video_icon.png);
	background-repeat: no-repeat;
	font-size: 14px;
	color: #048fdf !important;
	font-weight: bold;
	padding-left: 50px;
	height: 100px !important;
	padding-top: 10px!important;
	text-decoration: None !important;
}

.video_icon_link a:link
{
	font-size: 14px;
	color: #048fdf !important;
	font-weight: bold;		
	height: 100px !important;
	padding-top: 10px!important;
	text-decoration: None !important;
	
}

.video_icon_link a:hover
{
	font-size: 14px;
	color: #000 !important;
	font-weight: bold;
	height: 100px !important;		
	text-decoration: Underline !important;
	padding-top: 10px!important;
}

#highlight_txt
{
    padding-bottom: 5px;
	font-size: 17px;
	color: #000;
	font-weight: normal;
}
#highlight_title
{
	font-size: 18px;
	color: #000;
	font-weight: normal;
}

#footer_bottom_inner_SPLIT
{
	
	width:760px;
	height: 50px;	
	float:left;
	padding-top: 8px;
}

#footer_bottom_inner_SPLIT_right
{
	width:200px;
	height: 50px;
	float:right;
}


.year_text
{
	
	
	font-size: 18px;
	color: #32343b;
	font-weight: bold;		
	vertical-align:middle!important;
	padding: 7px 0 0 40px;
	
	
}
.year_border_bottom
{
    border-bottom:1px solid #c5cad7;   
    background-image: url(../Images/year_btn.png);
	background-repeat: no-repeat;	
	width: 100% !important;
	height: 32px!important;
	
    
    }