﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CertificateImage.aspx.cs"
    Inherits="Forte.HCM.UI.Admin.CertificateImage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="frmCertificateViewer" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
