﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/PositionProfileMaster.Master"
    AutoEventWireup="true" CodeBehind="PositionProfileSettings.aspx.cs" Inherits="Forte.HCM.UI.Admin.PositionProfileSettings" %>

<%@ MasterType VirtualPath="~/MasterPages/PositionProfileMaster.Master" %>
<asp:Content ID="PositionProfileSettings_content" ContentPlaceHolderID="PositionProfileMaster_body"
    runat="server">
  
</asp:Content>
