﻿BODY, html
{
    font-size: 11px !important;
    font-family: Arial,sans-serif;
}

.PanelStyle
{
    width: 100%;
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #E7EDEF;
    text-align: left;
    padding: 5px;
    text-decoration: None;
}
.resume_bg
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #000000;
    text-align: left;
    height: 100%;
}

.PreviewResume
{
    text-align: left;
    width: 95%;
    border: solid 1px gray;
    padding: 15px;
}
.RightPaneInnerDiv
{
    overflow: auto;
    height: 390px;
    text-align: left;
}
.RightPaneOuterDiv
{
    width: 48%;
    display: block;
    float: left;
}
.ListViewNormalStyle
{
    width: 100%;
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #E7EDEF;
    text-align: left;
    padding: 5px;
    text-decoration: None;
    background-color: #F9FBFC;
}
.ListViewAlternateStyle
{
    width: 100%;
    font-size: 11px !important;
    color: #33424B !important;
    background-color: #FFFfFf;
    border: 1px solid #E7EDEF;
    text-align: left;
    padding: 5px;
    text-decoration: None;
}
.LeftPaneDiv
{
    width: 50%;
    display: inline;
    float: left;
}
.candidate_dashboard_GRID_text_bold
{
    font-size: 16px !important;
    color: #247bc2 !important;   
}

 .candidate_dashboard_GRID_SCORE_bold
{
    font-size: 18px !important;
    color: #ff5700 !important;
    font-weight:bold;   
}
.modalBackground
{
    background-color: #000000;
    filter: alpha(opacity=60);
    opacity: 0.7;
}


.popupcontrol_confirm_publish_candidate_interview_response
{
    height: 170px;
    width: 720px;
    background-position: bottom;
    background-color: #283033;
}
.templateVisibility
{
    display:none;
}

.resume_float_left
{
    float: left;
}
.associate_resume_link_button
{
    background-image: url(Images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    width: 135px;
    display: block;
}

.associate_resume_link_button a:link
{
    background-image: url(Images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    display: block;
    width: 135px;
}

associate_resume_link_button a:active
{
    background-image: url(Images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    display: block;
    width: 135px;
}

.associate_resume_link_button a:visited
{
    background-image: url(Images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #2e3553 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    display: block;
    width: 135px;
}

.associate_resume_link_button:hover
{
    background-image: url(Images/resume_menu_bg_active.png);
    background-repeat: no-repeat;
    font-size: 13px !important;
    font-weight: bold;
    color: #FF5700 !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    text-align: center;
    width: 135px;
    display: block;
}

.associate_resume_link_button_selected
{
    font-size: 13px !important;
    background-image: url(Images/resume_menu_bg.png);
    background-repeat: no-repeat;
    font-weight: bold;
    color: #fff !important;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 10px 0px 10px 0px;
    height: 17px;
    width: 135px;
    text-align: center;
    display: block;
}
.empty_height
{
	height: 50px;
	float: left;
}
.can_resume_label_field_text
{
    font-size: 11px !important;
    color: #283033 !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    white-space: nowrap;
}
.can_resume_text_box_name
{
    width: 172px;
    font-size: 11px;
    color: #4B4B4B;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #b3c3d3 !important;
    background-image: url(Images/form_texbox_bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: White;
    height:13px;
    font-family:calibri,sans-serif;
}
.can_resume_text_box
{
    width: 330px;
    font-size: 11px;
    color: #4B4B4B;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #b3c3d3 !important;
    background-image: url(Images/form_texbox_bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: White;
    height:13px;
    font-family:calibri,sans-serif;
}
.can_resume_form_container
{
    clear: both; 
    width: 960px; 
    padding-top: 10px; 
    padding-left: 10px;
}
.can_resume_contact_container_left
{
	width: 95px;
	padding-top: 10px;
	font-size: 14px;
	color: #000;
	float: left;
}

.can_resume_contact_container_right
{
	width: 370px;
	float: left;
}
.can_resume_tech_container_left
{
	width: 135px;
	padding-top: 10px;
	font-size: 14px;
	color: #000;
	float: left;
}

.can_resume_tech_container_right
{
	width: 370px;
	float: left;
}
.can_resume_form_container_panel
{
    clear: both; 
    width: 880px; 
    padding-top: 10px; 
    padding-left: 10px;
}
.can_resume_container_left
{
	width: 95px;
	padding-top: 10px;
	font-size: 14px;
	color: #000;
	float: left;
}

.can_resume_container_right
{
	width: 330px;
	float: left;
}
.can_resume_panel_text_box
{
    width: 295px;
    font-size: 11px;
    color: #4B4B4B;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #b3c3d3 !important;
    background-image: url(Images/form_texbox_bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: White;
    height:13px;
    font-family:calibri,sans-serif;
}
.can_resume_panel_text
{
    font-size: 11px !important;
    color: #283033 !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    white-space: nowrap;
}
.can_resume_text_box_name_mandatory
{
    width: 172px;
    font-size: 11px;
    color: #FFFFFF;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #b3c3d3 !important;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: red;
    height:13px;
    font-family:calibri,sans-serif;
}

.can_resume_panel_text_box_mandatory
{
    width: 295px;
    font-size: 11px;
    color: #FFFFFF;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #b3c3d3 !important;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: red;
    height:13px;
    font-family:calibri,sans-serif;
}