﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ResumeRepositoryMenuControl.ascx.cs"
    Inherits="Forte.HCM.UI.CommonControls.ResumeRepositoryMenuControl" %>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="menustrip_normal">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td class="menustrip_bullet">
                    </td>
                    <td class="menutext_normal" id="tdCandidate" onmouseover="showit(0)" onmouseout="resetit(event)" >
                        Candidate
                    </td>
                    <td class="menustrip_bullet">
                    </td>
                    <td class="menutext_normal" id="tdResume" onmouseover="showit(1)" onmouseout="resetit(event)" style="display:none">
                        Resume
                    </td>
                    <td class="menustrip_bullet">
                    </td>
                    <td class="menutext_normal" id="tdSetup" onmouseover="showit(2)" onmouseout="resetit(event)" style="display:none">
                        Setup
                    </td>
                    <td class="menustrip_bullet">
                    </td> 
                    <td class="menutext_normal" id="tdParserSetup" onmouseover="showit(3)" onmouseout="resetit(event)" style="display:none">
                        Parser Setup
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="menustrip_sublink">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="4%">
                        &nbsp;
                    </td>
                    <td align="center" valign="middle" id="describe" onmouseover="clear_delayhide(true)"
                        onmouseout="resetit(event)">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<asp:HiddenField ID="ResumeRepositoryMenuControl_hoverMenuHiddenField" runat="server" />
<asp:HiddenField ID="ResumeRepositoryMenuControl_selectedMenuHiddenField" runat="server" />
<asp:HiddenField ID="ResumeRepositoryMenuControl_selectedSubMenuHiddenField" runat="server" />
<script type="text/javascript" language="javascript">
    var submenu = new Array();
    var test_url = '<%= absUrl %>';
    submenu[0] = '<div id="div0"><table border="0" cellspacing="0" cellpadding="0"><tr><td>&nbsp;</td><td id="td01" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/CreateCandidate.aspx?m=1&s=0">New Candidate</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td02" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/SearchCandidateRepository.aspx?m=1&s=1&parentpage=MENU">Search Candidate</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td03" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/ViewCandidateActivityLog.aspx?m=1&s=2&parentpage=MENU">Candidate Activity Log</a></td></tr></table></div>';
//    submenu[0] = '<div id="div0"><table border="0" cellspacing="0" cellpadding="0"><tr><td>&nbsp;</td><td id="td01" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/CreateCandidate.aspx?m=0&s=0">New Candidate</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td02" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/SearchCandidateRepository.aspx?m=0&s=1&parentpage=MENU">Search Candidate</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td03" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/ViewCandidateActivityLog.aspx?m=0&s=2&parentpage=MENU">Candidate Activity Log</a></td> <td valign="middle" align="center" class="menustrip_sublink_bullet"></td> <td id="td04" class="menustrip_sublink_text"><a href="' + test_url + '/ReportCenter/CandidateDashboard.aspx?m=0&s=3&parentpage=MENU">Candidate Activity Dashboard</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td05" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/ReviewResume.aspx?m=0&s=4&parentpage=MENU">Review Resume</a></td></tr></table></div>';
    submenu[1] = '<div id="div1"><table border="0" cellspacing="0" cellpadding="0"><tr><td>&nbsp;</td><td id="td11" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/CareerBuilderResumeSearch.aspx?m=1&s=0">Search Career Builder</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td12" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/ResumeUploader.aspx?m=1&s=1&parentpage=MENU">Upload Resume</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td13" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/ResumeEditor.aspx?m=1&s=2&parentpage=MENU">Edit Resume</a></td></tr></table></div>';
    submenu[2] = '<div id="div2"><table border="0" cellspacing="0" cellpadding="0"><tr><td>&nbsp;</td><td id="td21" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/DuplicateResumeRules.aspx?m=2&s=0">Duplicate Resume Rules</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td22" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/ResumeReminderSettings.aspx?m=2&s=1">Resume Reminder Settings</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td23" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/ResumeMandatorySettings.aspx?m=2&s=2">Resume Mandatory Settings</a></td></tr></table></div>';
    submenu[3] = '<div id="div3"><table border="0" cellspacing="0" cellpadding="0"><tr><td>&nbsp;</td><td id="td31" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/DictionaryManager.aspx?m=3&s=0">Dictionary Manager</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td32" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/NodeManager.aspx?m=3&s=1">Node Manager</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td33" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/CompetencyVectorManager.aspx?m=3&s=2">Competency Vector</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td34" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/TechnicalSkills.aspx?m=3&s=3">Technical Skills</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td35" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/ResumeOptions.aspx?m=3&s=4">Options</a></td><td valign="middle" align="center" class="menustrip_sublink_bullet"></td><td id="td36" class="menustrip_sublink_text"><a href="' + test_url + '/ResumeRepository/LocationManager.aspx?m=3&s=5">Location Manager</a></td></tr></table></div>';
    //Set delay before submenu disappears after mouse moves out of it (in milliseconds)
    var delay_hide = 500;

    //No need to edit beyond here
    var menuobj = document.getElementById ? document.getElementById("describe") : document.all ? document.all.describe : document.layers ? document.dep1.document.dep2 : "";

    function SubMenu(parentMenu, SubMenu) {
        selectedId = "td" + parentMenu.toString() + SubMenu.toString();
        if (document.getElementById("div0") != null) {
            parentControl = document.getElementById("div0");
            tdElements = parentControl.getElementsByTagName("td");
            for (index = 1; index < tdElements.length; index = index + 2) {
                if (tdElements[index] != null && tdElements[index].id != selectedId) {
                    tdElements[index].className = "menustrip_sublink_text";
                }
            }
        }
        if (document.getElementById("div1") != null) {
            parentControl = document.getElementById("div1");
            tdElements = parentControl.getElementsByTagName("td");
            for (index = 1; index < tdElements.length; index = index + 2) {
                if (tdElements[index] != null && tdElements[index].id != selectedId) {
                    tdElements[index].className = "menustrip_sublink_text";
                }
            }
        }

        if (document.getElementById("div2") != null) {
            parentControl = document.getElementById("div2");
            tdElements = parentControl.getElementsByTagName("td");
            for (index = 1; index < tdElements.length; index = index + 2) {
                if (tdElements[index] != null && tdElements[index].id != selectedId) {
                    tdElements[index].className = "menustrip_sublink_text";
                }
            }
        }

        if (document.getElementById("div3") != null) {
            parentControl = document.getElementById("div3");
            tdElements = parentControl.getElementsByTagName("td");
            for (index = 1; index < tdElements.length; index = index + 2) {
                if (tdElements[index] != null && tdElements[index].id != selectedId) {
                    tdElements[index].className = "menustrip_sublink_text";
                }
            }
        }

        if (document.getElementById(selectedId) != null) {
            document.getElementById(selectedId).className = "menustrip_sublink_active_text";
        }
    }
    function showDefault() {
        if (document.getElementById("<%= ResumeRepositoryMenuControl_selectedMenuHiddenField.ClientID %>").value != "") {
            val = document.getElementById("<%= ResumeRepositoryMenuControl_selectedMenuHiddenField.ClientID %>").value;
            valSub = document.getElementById("<%= ResumeRepositoryMenuControl_selectedSubMenuHiddenField.ClientID %>").value;
            if (val == 0) {
                menuobj.innerHTML = submenu[0];
                document.getElementById("tdCandidate").className = "menustrip_active";
            }
            else if (val == 1) {
                menuobj.innerHTML = submenu[1];
                document.getElementById("tdResume").className = "menustrip_active";
            }
            else if (val == 2) {
                menuobj.innerHTML = submenu[2];
                document.getElementById("tdSetup").className = "menustrip_active";
            }
            else if (val == 3) {
                menuobj.innerHTML = submenu[3];
                document.getElementById("tdParserSetup").className = "menustrip_active";
            }
            SubMenu(val, parseInt(valSub) + 1);
        }
        else {
            document.getElementById("tdCandidate").className = "menutext_normal";
            document.getElementById("tdResume").className = "menutext_normal";
            document.getElementById("tdSetup").className = "menutext_normal";
            document.getElementById("tdParserSetup").className = "menutext_normal";
        }
    }

    function showit(which) {
        clear_delayhide(false);
        thecontent = (which == -1) ? "" : submenu[which];

        if (document.getElementById || document.all) {
            menuobj.innerHTML = thecontent;
            if (thecontent != "") {
                if (thecontent.toString().indexOf('div0') != -1) {
                    document.getElementById("<%= ResumeRepositoryMenuControl_hoverMenuHiddenField.ClientID %>").value = "0";
                    document.getElementById("tdCandidate").className = "menustrip_active";
                    document.getElementById("tdResume").className = "menutext_normal";
                    document.getElementById("tdSetup").className = "menutext_normal";
                    document.getElementById("tdParserSetup").className = "menutext_normal";
                }
                else if (thecontent.toString().indexOf('div1') != -1) {
                    document.getElementById("<%= ResumeRepositoryMenuControl_hoverMenuHiddenField.ClientID %>").value = "1";
                    document.getElementById("tdCandidate").className = "menutext_normal";
                    document.getElementById("tdResume").className = "menustrip_active";
                    document.getElementById("tdSetup").className = "menutext_normal";
                    document.getElementById("tdParserSetup").className = "menutext_normal";
                }
                else if (thecontent.toString().indexOf('div2') != -1) {
                    document.getElementById("<%= ResumeRepositoryMenuControl_hoverMenuHiddenField.ClientID %>").value = "2";
                    document.getElementById("tdCandidate").className = "menutext_normal";
                    document.getElementById("tdResume").className = "menutext_normal";
                    document.getElementById("tdSetup").className = "menustrip_active";
                    document.getElementById("tdParserSetup").className = "menutext_normal";
                }
                else if (thecontent.toString().indexOf('div3') != -1) {
                    document.getElementById("<%= ResumeRepositoryMenuControl_hoverMenuHiddenField.ClientID %>").value = "3";
                    document.getElementById("tdCandidate").className = "menutext_normal";
                    document.getElementById("tdResume").className = "menutext_normal";
                    document.getElementById("tdSetup").className = "menutext_normal";
                    document.getElementById("tdParserSetup").className = "menustrip_active";
                }
                else {
                    document.getElementById("<%= ResumeRepositoryMenuControl_hoverMenuHiddenField.ClientID %>").value = "0";
                    document.getElementById("tdCandidate").className = "menustrip_active";
                    document.getElementById("tdResume").className = "menutext_normal";
                    document.getElementById("tdSetup").className = "menutext_normal";
                    document.getElementById("tdParserSetup").className = "menutext_normal";
                }
                if (document.getElementById("<%= ResumeRepositoryMenuControl_selectedMenuHiddenField.ClientID %>").value != "") {
                    val = document.getElementById("<%= ResumeRepositoryMenuControl_selectedMenuHiddenField.ClientID %>").value;
                    valSub = document.getElementById("<%= ResumeRepositoryMenuControl_selectedSubMenuHiddenField.ClientID %>").value;

                    SubMenu(val, parseInt(valSub) + 1);
                }
            }
            else {
                document.getElementById("tdCandidate").className = "menutext_normal";
                document.getElementById("tdResume").className = "menutext_normal";
                document.getElementById("tdSetup").className = "menutext_normal";
                document.getElementById("tdParserSetup").className = "menutext_normal";

                document.getElementById("<%= ResumeRepositoryMenuControl_hoverMenuHiddenField.ClientID %>").value = "";

                showDefault();
            }

        }
        else if (document.layers) {
            menuobj.document.write(thecontent)
            menuobj.document.close()
        }
    }

    function resetit(e) {
        if (document.all && !menuobj.contains(e.toElement))
            delayhide = setTimeout("showit(-1)", delay_hide)
        else if (document.getElementById && e.currentTarget != e.relatedTarget && !contains_ns6(e.currentTarget, e.relatedTarget))
            delayhide = setTimeout("showit(-1)", delay_hide)
    }

    function clear_delayhide(isSubMenuHover) {
        if (window.delayhide)
            clearTimeout(delayhide);

        if (document.getElementById("<%= ResumeRepositoryMenuControl_hoverMenuHiddenField.ClientID %>").value == "") {
            val = document.getElementById("<%= ResumeRepositoryMenuControl_selectedMenuHiddenField.ClientID %>").value;
        }
        else {
            val = document.getElementById("<%= ResumeRepositoryMenuControl_hoverMenuHiddenField.ClientID %>").value;
        }

        if (val == 0) {
            document.getElementById("tdCandidate").className = "menustrip_active";
        }
        else if (val == 1) {
            document.getElementById("tdResume").className = "menustrip_active";
        }
        else if (val == 2) {
            document.getElementById("tdSetup").className = "menustrip_active";
        }
        else if (val == 3) {
            document.getElementById("tdParserSetup").className = "menustrip_active";
        }
    }

    function contains_ns6(a, b) {
        while (b.parentNode)
            if ((b = b.parentNode) == a)
                return true;
        return false;
    }
    
</script>
<script type="text/javascript" language="javascript">
    showDefault();
</script>
