﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DownloadResume.aspx.cs"
    Inherits="Forte.HCM.UI.DownloadResume" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="DownloadResume_topErrorMessage" runat="server" EnableViewState="false"
            Width="100%" SkinID="sknErrorMessage"></asp:Label>
    </div>
    <div>
    </div>
    </form>
</body>
</html>
