BODY, html
{
    background-position: 100% top;
    margin: auto;
    font-family: Arial,sans-serif;
    font-size: 11px;
    color: #000000;
    background-color: #969da3;
    height: 100%;
    width: 100%;
    scrollbar-face-color: #ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #A5B6BC;
    scrollbar-3dlight-color: #E6EAEB;
    scrollbar-arrow-color: #A5B6BC;
    scrollbar-track-color: #E6EAEB;
    scrollbar-darkshadow-color: #A5B6BC;
    scrollbar-track-border: #A5B6BC;
}


.recruiter_name_label
{
    font-size: 14px !important;
    color: #FE5206 !important;
    font-weight: bold !important;
    font-family: Arial,sans-serif !important;
    white-space: nowrap;
}

.rating_panel_body_bg_small
{
    background-image: url(images/panel_body_bg.gif);
    background-repeat: repeat-x;
    width:100%;
    height: 120px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8; 
    padding: 10px;
    background-position: bottom;
    background-color: #FFFFFF;
}


assessor_comments_bg
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    width: 100%;
    border: 1px solid #D8D8D8;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px !important;
    color: #33424B !important;
    font-weight: bold !important;
    text-align: left;
    background-position: bottom;
    background-color: #ffffff;
}

.rating_panel_display_my_areas
{
    background-image: url(images/panel_body_bg.gif);
    background-repeat: repeat-x;
    width: 100%;
    height: 30px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 10px;
    background-position: bottom;
    background-color: #FFFFFF;
}

#question_panel_body_bg
{
    background-image: url(images/panel_body_bg.gif);
    background-repeat: repeat-x;
    width: 100%;
    height: 120px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 10px;
    background-position: bottom;
    background-color: #FFFFFF;
}


.category_header_bg
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    border: 1px solid #D8D8D8;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px !important;
    color: #33424B !important;
    font-weight: bold !important;
    text-align: left;
    background-position: bottom;
    background-color: #ffffff;
    width:300px;
}

.question_bg
{
    background-image: url(images/panel_body_bg.gif);
    background-repeat: repeat-x;
    width:300px;
    height: 120px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 10px;
    background-position: bottom;
    background-color: #FFFFFF;
}

.category_title
{
     font-size: 14px !important;
     color: #FF5700 !important;
     font-weight: bold !important;
}

.question_link_button
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
}

.question_link_button a
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
}

.question_link_button:hover
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: Underline !important;
}

.line_thick
{
    background-image: url('Images/line_fortehcm.gif');
    background-repeat: repeat-x;
    width: 100%;
    height: 2px;
    background-position: top;
}

.td_padding_left_right
{
    padding: 10px;
}

.footer_menu_text
{
    font-family: Tahoma;
    font-size: 11px;
    color: #52595f;
    text-align: center;
    padding-right: 4px;
}

.footer_menu_text_feedbackLinkButton
{
    font-family: Tahoma;
    font-size: 11px;
    color: #52595f;
    text-align: center;
    text-decoration: none;
    padding-right: 4px;
}

.footer_content
{
    font-family: Tahoma;
    font-size: 11px;
    color: #52595f;
    text-align: left;
}

.content_strip
{
    background-image: url('Images/content_strip_fortehcm.gif');
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #ffffff;
    border-left: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
}


.footer_strip
{
    background-image: url('Images/footer_bg_fortehcm.gif');
    background-repeat: repeat-x;
    border-left: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    background-color: #e9ecee;
    background-position: bottom;
    height: 30px;
}


.header_text_bold
{
    font-size: 12px !important;
    color: #33424B !important;
    font-weight: bold !important;
}



.top_strip
{
    background-image: url('Images/top_strip_fortehcm.gif');
    background-repeat: repeat-x;
    background-position: top;
    background-color: White;
    border-top: 1px solid #ffffff !important;
    border-left: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
    border-bottom: 1px solid #ced3d7 !important;
    padding-left: 10px;
    padding-right: 10px;
}

.content_outer
{
    background-color: #81888e;
    padding: 1px;
    height: 100%;
}

.header_bg
{
    background-image: url(images/header_strip.gif);
    background-repeat: repeat-x;
    height: 27px;
    width: 100%;
    border: 1px solid #D8D8D8;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px !important;
    color: #33424B !important;
    font-weight: bold !important;
    text-align: left;
    background-position: bottom;
    background-color: #ffffff;
}

.label_field_header_text
{
    font-size: 11px !important;
    color: #283033 !important;
    font-weight: bold !important;
    font-family: Arial,sans-serif !important;
    white-space: nowrap;
}

.success_message_text
{
    font-size: 11px !important;
    font-weight: bold !important;
    color: #369105 !important;
    text-align: center;
}

.error_message_text
{
    font-size: 11px !important;
    font-weight: bold !important;
    color: #ff0000 !important;
    text-align: center;
    white-space: nowrap;
}

.main_button
{
    font-size: 11px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: center;
    background-image: url(images/button_bg.gif);
    background-repeat: repeat-x;
    height: 18px;
    border: 0px solid #E35409;
    cursor: pointer;
    background-color: #E35409;
    padding-bottom: 0px;
}

.label_field_text
{
    font-size: 11px !important;
    color: #148EC0 !important;
    font-weight: normal !important;
}

.text_box
{
    font-family: Arial,sans-serif !important;
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #D8D8D8 !important;
    background-color: #FFFFFF;
    padding-left: 3px;
    
}

.check_box_text
{
    font-size: 10px;
    font-weight: normal;
    color: #000000;
    background-color: Transparent;
}

.td_height_8
{
    height: 8px;
}

.td_height_2
{
    height: 2px;
}

.td_height_5
{
    height: 5px;
}

.td_height_4
{
    height: 4px;
}

.td_height_10
{
    height: 10px;
}

.td_height_20
{
    height: 20px;
}

.td_height_18
{
    height: 20px;
}

.td_padding_10
{
    padding: 10px;
}

.td_padding_4
{
    padding: 4px;
}

.rating_star
{
    white-space: nowrap;
    margin: 0px;
    height: 14px;
}

.rating_star .rating_item
{
    font-size: 0pt;
    width: 17px;
    height: 18px;
    margin: 0px;
    padding: 0px;
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
}

.rating_star .rating_filled
{
    background-image: url(GeneralRatingImages/1.00.png);
}

.rating_star .rating_empty
{
    background-image: url(images/empty_star.png);
}

.rating_star .rating_saved
{
    background-image: url(images/red_star.png);
}

.test_header_text_bold_div
{
    font-size: 16px !important;
    color: #000 !important;
    font-weight: bold !important;
    float: left;
    width: 550px;
}

.test_subheader_text_bold_div
{
    font-size: 14px !important;
    color: #000 !important;
    font-weight: bold !important;
    padding-bottom: 10px;
}

.test_text_div
{
    font-size: 13px !important;
    color: #000 !important;
    padding-bottom: 10px;
    float:left;
}

.test_body_bg_div
{
    width: 960px;
    float: left;
}

.test_body_padding_div
{
    padding: 10px;
}
.test_right_panel
{
    width: 960px;
    float: left;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
    border: 1px solid #fff;
    text-align:left;
}

.assessor_link_button
{
    font-size: 18px !important;
    color: #36434B !important;
    text-decoration: none !important;
    white-space: nowrap;
    font-weight: bold;
}

.assessor_link_button a
{
    font-size: 18px !important;
    color: #36434B !important;
    text-decoration: none !important;
    white-space: nowrap;
    font-weight: bold;
}

.assessor_link_button:hover
{
    font-size: 18px !important;
    color: #000 !important;
    text-decoration: Underline !important;
    white-space: nowrap;
    font-weight: bold;
}

.label_assessor_field_text
{
    font-size: 11px !important;
    color: #0066D6 !important;
    white-space: nowrap;
}

.label_assessor_rating_score_field_text
{
    font-size: 18px !important;
    color: #FF5400 !important;
    font-weight: bold !important;
}

.pp_label_field_text_link_button
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
    text-align: left;
    padding-left: 5px;
}

.tab_body_bg_assessor
{
    background-color: #FFFFFF;
    width: 100%;
    border: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 2px;
}

.label_field_text_link_button
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
}

.label_field_text_link_button a
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
}

.label_field_text_link_button:hover
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: Underline !important;
    white-space: nowrap;
}


.client_dept_contact_with_no_links
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
}

.rating_inner_panel_body_bg
{
    background-image: url(images/panel_body_bg.gif);
    background-repeat: repeat-x;
    width: 300px;
    height: 120px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8; 
    padding: 10px;
    background-position: bottom;
    background-color: #FFFFFF;
}

.skill_rating_comments_break
{
    height: 5px;
    width:300px;
    border-bottom: 1px solid #D8D8D8;
    padding:2px 0px 2px 0px;
    background-position: bottom;
    background-color: #FFFFFF;
}

.assessor_overall_comments_panel_body_bg
{
    background-image: url(images/panel_body_bg.gif);
    background-repeat: repeat-x;
    width: 100%;
    height: 120px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 10px;
    background-position: bottom;
    background-color: #FFFFFF;
}

.submit_rating_button
{
    font-size: 14px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: center;
    background-image: url(images/button_bg.gif);
    background-repeat: repeat-x;
    height: 50px;
    border: 0px solid #E35409;
    cursor: pointer;
    background-color: #E35409;
    padding-bottom: 0px;
}

.submit_rating_hyperlink
{
    padding:16px 5px 15px 5px; 
    font-size: 16px !important;
    text-decoration:none;
}

.interview_skill_body_bg
{
    background-color: #f9f9f9;
    -moz-box-shadow: inset 0 0 10px 2px #D9D7D7;
    -webkit-box-shadow: inset 0 0 10px 2px #D9D7D7;
    box-shadow: inset 0 0 10px 2px #D9D7D7;
    width: 100%;
    border: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 2px;
}

.grid_interview_header_row_no_wrap th
{
    background-color: #e9edf0;
    font-size: 11px !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    color: #283033 !important;
    border-bottom: 1px solid #D1D8DA !important;
    text-align: left !important;
    padding-left: 5px;
    height: 33px;
}

.grid_interview_header_row_no_wrap a
{
    font-size: 11px !important;
    color: #283033 !important;
    font-weight: bold !important;
}



.grid_alternate_row td
{
    font-size: 11px !important;
    color: #33424B !important;
    background-color: #FFFfFf;
    border-bottom: 1px solid #E7EDEF !important;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 25px;
    text-align: left;
    padding-left: 5px;
    text-decoration: None;
}

.grid_alternate_row td a
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
}
.grid_alternate_row td a:hover
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: Underline !important;
}

.grid_alternate_row th
{
    font-size: 11px !important;
    font-weight: normal;
}

.grid_alternate_row th a
{
    font-size: 11px !important;
    font-weight: normal;
}

.grid_alternate_row th a:hover
{
    font-size: 11px !important;
    font-weight: normal;
}

.text_box
{
    font-family: Arial,sans-serif !important;
    font-size: 11px !important;
    color: #33424B !important;
    border: 1px solid #D8D8D8 !important;
    background-color: #FFFFFF;
    padding-left: 3px;
    
}

.other_assessor_rating_field_text 
{
    font-size: 11px !important;
    color: #FF5400 !important;
    font-weight: normal !important;
}

.other_assessor_rating_bottom_bg
{
    width: 300px;
    height: 80px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8; 
    padding: 10px;
    background-position: bottom;
}

.other_assessor_rating_bg_panel
{
    background-image: url(images/panel_body_bg.gif);
    background-repeat: repeat-x;
    width:300px;
    height: 120px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 10px;
    background-position: bottom;
    background-color: #FFFFFF;
}

.other_assessor_name_field_header_text 
{
    font-size: 11px !important;
    color: black !important;
    font-weight: bold !important;
    white-space: nowrap;
}

.tab_body_bg
{
    background-color: #FFFFFF;
    width: 100%;
    border: 1px solid #D8D8D8;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 2px;
}
 
.activities_outer_border
{
    width: 950px;
    border: 1px solid #BEC7CF;
    padding: 10px;
    float: left;
    background-image: url(Images/act_text_area_bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: White;
}

.activities_inner_cont_left
{
    float: left;
    padding-right: 5px;
}

.activities_border_top
{
    width: 100%;
    border-top: 1px solid #D0D9E1;
    float: left;
    height: 10px;
}


.interview_test_content
{
    font-size: 14px !important;
    color: #222c3a !important;
    float: left;
}

.interview_test_stop_icon
{
    background-image: url(Images/Stop_icon.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 96px;
    float: left;
}

.interview_test_header
{
    font-size: 26px !important;
    color: #222c3a !important;
    float: left;
    vertical-align: middle;
    padding: 30px 0px 0px 10px;
}


.interview_test_div_padding
{
    padding: 20px 0px 0px 10px;
    float: left;
}

.activity_number_label
{
	font-size: 14px !important;
	color: #ffffff !important;
	background-image: url(images/activity_number_icon.png);
	background-repeat:no-repeat; 
	white-space: nowrap !important;
	font-weight: bolder;
	vertical-align: middle;	
	text-align: center;	
	display: block;
	width:26px;
	height: 22px;
	padding-top: 3px;
}
.innerpage_content_outer
{
    background-image: url(Images/inner_middle_bg1.gif); /* Header middle bg */
    background-repeat: repeat-x;
    width: 100%;
}

.innerpage_content_inside_outer
{
     
    width: 960px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 10px;
}


.Resource_Selection_cnt_outer
{
    width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px !important;
}


#innerpage_content_outer
{
    background-image: url(Images/inner_middle_bg.gif); /* Header middle bg */
    background-repeat: repeat-x;
    width: 100%;
}

#innerpage_content_inside_outer
{
    width: 960px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 10px;
}


#Resource_Selection_cnt_outer
{
    width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px !important;
}

.interview_test_wish
{
    font-size: 20px !important;
    color: #000 !important;
   padding: 10px 0px 10px 20px;
    float: left;  
    width: 950px;
   
   
}

.interview_btn
{
    font-size: 24px !important;
    color: #17a11a !important;
    padding: 2px 0px 10px 20px;
    float: left;  
    width: 950px;
}

.cnt_outer_content
{
    background-image: url(Images/body_bg.png) !important;
    background-repeat: repeat-x;
    padding-bottom: 30px !important;
    width: auto;
}
.activity_name_label
{
	font-size: 14px !important;
	color: #0e80e1 !important;
	white-space: nowrap !important;
	font-weight: bold;
	vertical-align: middle;		
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
}

.link_button
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
}

.link_button a
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: none !important;
    white-space: nowrap;
}

.link_button:hover
{
    font-size: 11px !important;
    color: #267BB1 !important;
    text-decoration: Underline !important;
    white-space: nowrap;
}
