<table align="center" background="../CertificateFormats/Default.jpg" style="background-repeat: no-repeat;" cellspacing='0'
        cellpadding='0' width='595px' height='397px' border="0">
<tr>
    <td>
      <table>
         <tr>
            <td valign="bottom" align="center">
                #Name
            </td>
        </tr>
        <tr height="65px">
            <td valign="bottom" align="center">
                #TestName
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
                <table width="595px" height="40px" border="0">
                    <tr height="20px">
                        <td style="width:50%;">
                            &nbsp;
                        </td>
                        <td style="width:50%;padding-left:25px;" align="left" valign="bottom">
                            #CompletedDate
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
</table>       
</td>
</tr>
    </table>
